doctype html
html
	head
		include includes/_head.pug
		title Recado Premiado – Prêmios
	body
		header
			.container
				a(href='http://www.vivo.com.br')
					img(src='img/vivo-logo.png')
				ul.vivo-nav
					li
						a(href='http://www.vivo.com.br/portalweb/appmanager/env/web?_nfpb=true&_nfls=false&_pageLabel=vcPrincipalBook') para você
					li
						a(href='http://www.vivo.com.br/portalweb/appmanager/env/web?_nfpb=true&_nfls=false&_pageLabel=empPrincipalBook') para empresas
					li
						a(href='http://www.vivo.com.br/portalweb/appmanager/env/web?_nfpb=true&_nfls=false&_pageLabel=vcOfertaAtacadoPage') para operadoras
					li
						a(href='http://www.vivo.com.br//portalweb/appmanager/env/web?_nfpb=true&_nfls=false&_pageLabel=aVivoPrincipalBook') a vivo
		nav
			.container
				.nav-mobile__trigger Mais
				ul
					li
						a(href='cupons.html') Veja se ganhou
					li
						a.active(href='premios.html') Prêmios				
					li.nav-mobile
						ul
							li
								a(href='regulamento.html') Regulamento
							li
								a(href='#') A promoção
							li
								a(href='#') Dúvidas frequentes
							li
								a(href='#') Fale conosco
		article#prizes-page
			.container
				.prizes__title
					h1 Prêmios
					p Você pode ganhar prêmios em dinheiro, descontos e gratuidade em produtos Vivo
				.prizes__section
					h3 Prêmios em dinheiro
					.section__money
						.money__item
							h4
								| 2 mil
								span reais
						.money__item
							h4
								| 3 mil
								span reais
						.money__item
							h4
								| 10 mil
								span reais
						.money__item
							h4
								| 20 mil
								span reais
				.prizes__section
					h3 Descontos
					.section__products
						.products__column
							.products__item
								img(src='img/grid/abracadabra.jpg')
								h4 Abracadabra
							.products__item
								img(src='img/grid/abracasa.jpg')
								h4 Abracasa
							.products__item
								img(src='img/grid/allbags.jpg')
								h4 Allbags
							.products__item
								img(src='img/grid/amaro.jpg')
								h4 Amaro
							.products__item
								img(src='img/grid/americanas.jpg')
								h4 Lojas Americanas
							.products__item
								img(src='img/grid/anna-pegova.jpg')
								h4 Anna Pegova
							.products__item
								img(src='img/grid/beauty-box.jpg')
								h4 Beauty Box
							.products__item
								img(src='img/grid/bee-fitness.jpg')
								h4 Bee Fitness
							.products__item
								img(src='img/grid/booking.jpg')
								h4 Booking.com
							.products__item
								img(src='img/grid/boticario.jpg')
								h4 O Boticário
							.products__item
								img(src='img/grid/buscape.jpg')
								h4 Buscapé
							.products__item
								img(src='img/grid/calcados-online.jpg')
								h4 Calçados Online
							.products__item
								img(src='img/grid/camiseteria.jpg')
								h4 Camiseteria
							.products__item
								img(src='img/grid/carrefour.jpg')
								h4 Carrefour
							.products__item
								img(src='img/grid/casas-bahia.jpg')
								h4 Casas Bahia
							.products__item
								img(src='img/grid/centauro.jpg')
								h4 Centauro
							.products__item
								img(src='img/grid/cipela.jpg')
								h4 Cipela
							.products__item
								img(src='img/grid/classic-tennis.jpg')
								h4 Classic Tennis
							.products__item
								img(src='img/grid/clickbus.jpg')
								h4 Clickbus
							.products__item
								img(src='img/grid/clube-do-ricardo.jpg')
								h4 Clube do Ricado
							.products__item
								img(src='img/grid/clube-malte.jpg')
								h4 Clube do Malte
							.products__item
								img(src='img/grid/cultura.jpg')
								h4 Livraria Cultura
							.products__item
								img(src='img/grid/dressit.jpg')
								h4 Dressit
							.products__item
								img(src='img/grid/drogaria-saopaulo.jpg')
								h4 Drogaria São Paulo
							.products__item
								img(src='img/grid/drogarias-pacheco.jpg')
								h4 Drogarias Pacheco
							.products__item
								img(src='img/grid/ecolchao.jpg')
								h4 Ecolchao
							.products__item
								img(src='img/grid/efacil.jpg')
								h4 eFácil
							.products__item
								img(src='img/grid/enjoei.jpg')
								h4 enjoei
							.products__item
								img(src='img/grid/epoca.jpg')
								h4 Época Cosméticos
							.products__item
								img(src='img/grid/eudora.jpg')
								h4 Eudora
							.products__item
								img(src='img/grid/extra.jpg')
								h4 Extra.com.br
							.products__item
								img(src='img/grid/fast-shop.jpg')
								h4 Fast Shop
							.products__item
								img(src='img/grid/fnac.jpg')
								h4 Fnac
							.products__item
								img(src='img/grid/fut-fanatics.jpg')
								h4 FutFanatics
							.products__item
								img(src='img/grid/glio.jpg')
								h4 Glio
							.products__item
								img(src='img/grid/havan.jpg')
								h4 Havan
							.products__item
								img(src='img/grid/kipling.jpg')
								h4 Kipling
							.products__item
								img(src='img/grid/liquidae.jpg')
								h4 Liquidae
							.products__item
								img(src='img/grid/livraria-da-folha.jpg')
								h4 Livraria da Folha
							.products__item
								img(src='img/grid/livraria-da-travessa.jpg')
								h4 Livraria da Travessa
						.products__column
							.products__item
								img(src='img/grid/loccitane-brasil.jpg')
								h4 L'Occitane au Brésil
							.products__item
								img(src='img/grid/loccitane-provence.jpg')
								h4 L'Occitane en Provence
							.products__item
								img(src='img/grid/lojaskd.jpg')
								h4 LojasKD
							.products__item
								img(src='img/grid/madeiramadeira.jpg')
								h4 MadeiraMadeira
							.products__item
								img(src='img/grid/mania-pop.jpg')
								h4 Mania Pop
							.products__item
								img(src='img/grid/mash.jpg')
								h4 Mash
							.products__item
								img(src='img/grid/mega-mamute.jpg')
								h4 Mega Mamute
							.products__item
								img(src='img/grid/mobly.jpg')
								h4 Mobly
							.products__item
								img(src='img/grid/multi-ar.jpg')
								h4 Multi-Ar
							.products__item
								img(src='img/grid/multilaser.jpg')
								h4 Multilaser
							.products__item
								img(src='img/grid/mxt-shop.jpg')
								h4 MXTSHOP
							.products__item
								img(src='img/grid/natue.jpg')
								h4 Natue
							.products__item
								img(src='img/grid/nike.jpg')
								h4 Nike.com
							.products__item
								img(src='img/grid/nina-bruni.jpg')
								h4 Nina Bruni
							.products__item
								img(src='img/grid/okulos.jpg')
								h4 Okulos
							.products__item
								img(src='img/grid/olho-fashion.jpg')
								h4 Olho Fashion
							.products__item
								img(src='img/grid/ovelha-negra.jpg')
								h4 Ovelha Negra
							.products__item
								img(src='img/grid/pandora.jpg')
								h4 PANDORA eSTORE
							.products__item
								img(src='img/grid/pneustore.jpg')
								h4 PneuStore
							.products__item
								img(src='img/grid/polishop.jpg')
								h4 Polishop
							.products__item
								img(src='img/grid/pontofrio.jpg')
								h4 Pontofrio.com
							.products__item
								img(src='img/grid/quem-disse-berenice.jpg')
								h4 quem disse, berenice?
							.products__item
								img(src='img/grid/ricardoeletro.jpg')
								h4 Ricardo Eletro
							.products__item
								img(src='img/grid/salfer.jpg')
								h4 Salfer
							.products__item
								img(src='img/grid/samsung.jpg')
								h4 Samsung
							.products__item
								img(src='img/grid/saraiva.jpg')
								h4 Saraiva.com.br
							.products__item
								img(src='img/grid/saveme.jpg')
								h4 SaveMe
							.products__item
								img(src='img/grid/selecoes.jpg')
								h4 Seleções – Reader's Digest
							.products__item
								img(src='img/grid/sensual.jpg')
								h4 Sensual Sexshop
							.products__item
								img(src='img/grid/sepha.jpg')
								h4 Sépha
							.products__item
								img(src='img/grid/sephora.jpg')
								h4 Sephora
							.products__item
								img(src='img/grid/shopfato.jpg')
								h4 Shopfato
							.products__item
								img(src='img/grid/shoptime.jpg')
								h4 Shoptime
							.products__item
								img(src='img/grid/sieno.jpg')
								h4 Sieno Perfumaria
							.products__item
								img(src='img/grid/strawberrynet.jpg')
								h4 Strawberrynet
							.products__item
								img(src='img/grid/submarino.jpg')
								h4 Submarino
							.products__item
								img(src='img/grid/the-north-face.jpg')
								h4 The North Face
							.products__item
								img(src='img/grid/viajanet.jpg')
								h4 ViajaNet
							.products__item
								img(src='img/grid/walmart.jpg')
								h4 Walmart.com.br
							.products__item
								img(src='img/grid/strawberrynet.jpg')
								h4 Strawberrynet
				.prizes__section
					h3 Gratuidades
					.section__products
						.products__column
							.products__item
								img(src='img/grid/meus-idolos.jpg')
								h4 Vivo Meus Ídolos
							.products__item
								img(src='img/grid/playkids.jpg')
								h4 Vivo PlayKids
							.products__item
								img(src='img/grid/quiz.jpg')
								h4 Vivo Quiz
						.products__column
							.products__item
								img(src='img/grid/quiz.jpg')
								h4 Vivo Quiz Musical
							.products__item
								img(src='img/grid/torpedo-info.jpg')
								h4 Vivo Torpedo Info
		section.cta-banner
			.container
				h1 Ligue agora para *555 e comece a concorrer
				.cta-sticker
					img(src="img/vivinho.png")
				div.links
					a(href="cupons.html") Veja se você ganhou
					a(href="regulamento.html") Conheça o regulamento
		.container
			footer
				img.telefonica(src='img/telefonica.jpg')
				img.patrocinadora(src='img/vivo-patrocinadora.png')
				img.assinatura(src='img/viva-tudo.png')
		script(src='js/jquery.min.js', type='text/javascript')
		script(src='js/menu-mobile.js', type='text/javascript')
