doctype html
html
	head
		include includes/_head.pug
		title Recado Premiado – Regulamento
	body
		header
			.container
				a(href="http://www.vivo.com.br")
					img(src="img/vivo-logo.png")
				ul.vivo-nav
					li 
						a(href="http://www.vivo.com.br/portalweb/appmanager/env/web?_nfpb=true&_nfls=false&_pageLabel=vcPrincipalBook") para você
					li 
						a(href="http://www.vivo.com.br/portalweb/appmanager/env/web?_nfpb=true&_nfls=false&_pageLabel=empPrincipalBook") para empresas
					li 
						a(href="http://www.vivo.com.br/portalweb/appmanager/env/web?_nfpb=true&_nfls=false&_pageLabel=vcOfertaAtacadoPage") para operadoras
					li 
						a(href="http://www.vivo.com.br//portalweb/appmanager/env/web?_nfpb=true&_nfls=false&_pageLabel=aVivoPrincipalBook") a vivo
		nav
			.container
				div.nav-mobile__trigger Mais
				ul
					li 	
						a(href="cupons.html") Veja se ganhou
					li 
						a(href="premios.html") Prêmios
					li.nav-mobile 
						ul
							li
								a(href="#").active Regulamento
							li 
								a(href="#") A promoção
							li 
								a(href="#") Dúvidas frequentes
							li 
								a(href="#") Fale conosco
		article#textheavy
			.container
				h1 Regulamento
				.textheavy__container
					h2 Promoção Vivo Recado Premiado
					p Antes de aderir à Promoção, o participante deverá ler o Regulamento da PROMOÇÃO VIVO RECADO PREMIADO doravante denominada “Promoção”, promovida pela MOVILE INTERNET MOVEL S/A, pessoa jurídica de direito privado, inscrita no CNPJ/MF sob o nº 08.654.191/0001–17, com sede na Rua Arquiteto Olavo Redig de Campos, 105 - 26º andar, Ez Tower, Torre A, São Paulo/SP, CEP 04711–904, doravante denominada “Promotora”, neste ato representada na forma de seu Contrato Social, cujo foco são clientes usuários do serviço de valor adicionado da VIVO, sejam eles de planos pré-pagos, pós-pagos ou planos controle.
					h4 1. CARACTERIZAÇÃO:
					p 1.1 A participação na Promoção é restrita aos clientes VIVO, sejam eles pessoas físicas maiores de 18 (dezoito) anos, residentes e domiciliados em território nacional (“Participantes”).
					p 1.2 A Promoção terá distribuição de prêmios imediatos e é válida no período de 21/09/2016 a 03/12/2016, conforme descrito no item 9.
					p 1.3 Esta é uma Promoção com distribuição gratuita de prêmios, por meio de sorteios lastreados com Títulos de Capitalização, nos moldes do Decreto no 6.388, de 05 de março de 2008, dos atos normativos competentes para regulamentar a matéria editados pela SUSEP, além do seu regulamento.
					p 1.4 A Promoção abrangerá todo território nacional, sendo válida para os Clientes VIVO assinantes do serviço de telefonia móvel (SMP), sejam eles de planos pré-pagos, pós-pagos ou planos controle da empresa.
					p 1.5 Serão utilizados Títulos de Capitalização da Modalidade Incentivo emitidos pela Sul América Capitalização S.A. - SULACAP (“Sulamérica”), inscrita no CNPJ/MF sob o nº 03.558.096/0001–04, subscrito pela Promotora, cujas Notas Técnicas e Condições Gerais foram aprovadas pela SUSEP Processo n.º 15414.901340/2013–98, cedidos gratuitamente aos clientes que preencherem as condições deste regulamento os direitos de participação nos sorteios relativos aos referidos Títulos.
					p 1.6 Os resultados do sorteio, para fins de premiação, serão baseados na extração da Loteria Federal, na forma estabelecida nas Condições Gerais do Título de Capitalização acima referido, conforme os critérios descritos no presente Regulamento.
					p 1.7 A participação na Promoção é voluntária e não está subordinada à autorização prévia estabelecida na Lei nº 5.768/71 e legislação correlata.
					p 1.8 A participação nesta Promoção, para os clientes cujo serviço de telefonia móvel seja prestado na modalidade pré-paga, só será possível para aqueles que tenham créditos pré-pagos suficientes para contratação dos serviços aqui promovidos. No caso de clientes controle será necessário ter saldo de franquia ou inserir créditos suficientes para a contratação dos serviços aqui promovidos.
					h4 2. VIVO RECADO
					p 2.1 O Vivo Recado é um serviço que armazena todos os seus recados enquanto você estiver indisponível. Além disto, monitora se você já resgatou todos os seus recados deixados e, caso não, o informa através de SMS ou chamada de voz.
					p 2.2 Para solicitar a assinatura do Vivo Recado, o participante deverá enviar uma mensagem curta de texto SMS, com o comando VR para o número 5550, ou através do portal de voz a partir de ligação para o número *555.
					p 2.3 Mediante a assinatura semanal do Vivo Recado, o participante será tarifado em R$ 0,99 (noventa e nove centavos).
					p 2.4 A qualquer momento os Participantes poderão solicitar o cancelamento do Vivo Recado, bastando enviar o comando “SAIR” para o número 5550 através de mensagem de texto SMS, ou através do portal de voz a partir de ligação para o número *555.
					p 2.5 Todos os Participantes que assinarem o Vivo Recado entre 21/09/2016 a 03/12/2016 e resgatarem seus recados durante o período, nos termos da cláusula 9 e subsequentes, receberão 01 (um) SMS, que estará premiado com um dos prêmios descritos no item 10. Será utilizado o mecanismo de premiação imediata, vinculada a títulos de capitalização e à extração da Loteria Federal, para definição dos SMS premiados e do prêmio atribuído a cada SMS. O Cliente também receberá via SMS as informações de como proceder para resgatar os prêmios.
					h4 3. VIVO QUIZ
					p 3.1 O VIVO QUIZ é um serviço recreativo de perguntas e respostas com base no conhecimento sobre diversos temas e assuntos, que pode ser adquirido mediante assinatura semanal, pelos Clientes VIVO.
					p 3.2 Para participar da presente promoção o Cliente VIVO deverá adquirir a assinatura semanal do serviço VIVO QUIZ, através do envio de mensagens SMS (Torpedo SMS) para o número 43000, pelas interfaces SIMCARD (VIVO CHIP), WEB, WAP ou URA.
					p 3.3 Mediante a assinatura semanal do VIVO QUIZ, o Cliente Participante será tarifado em R$3,99 (três reais e noventa e nove centavos) por semana e terá o direito a receber e responder 10 (dez) perguntas, bem como receber 10 (dez) dicas do VIVO QUIZ.
					p 3.4 A qualquer momento o participante poderá solicitar o cancelamento de sua assinatura, bastando enviar o comando “SAIR” para o número 43000.
					p 3.5 Todos os Participantes que assinarem o Vivo QUIZ entre 21/09/2016 a 03/12/2016 e forem efetivamente tarifados no período, nos termos da cláusula 9 e subsequentes, receberão 01 (um) SMS, que poderá estar premiado com um dos prêmios descritos no item 10 abaixo. Será utilizado o mecanismo de premiação imediata, vinculada a títulos de capitalização e à extração da Loteria Federal, para definição dos SMS premiados e do prêmio atribuído a cada SMS. O Cliente também receberá via SMS as informações de como proceder para resgatar os prêmios.
					h4 4. VIVO MEUS IDOLOS
					p 4.1 O cliente VIVO assina o serviço através do envio de SMS para o número 1010 e será tarifado em R$ 3,99 (três reais e noventa e nove centavos) por semana e passa a receber mensagens diárias com informações sobre seus ídolos, além de ter acesso ao aplicativo “Vivo Meus Ídolos”.
					p 4.2 Todos os formatos de contratação poderão ser utilizados através da navegação do VIVO CHIP, WAP, WEB, URA e SMS.
					p 4.3 Para cancelar basta o cliente enviar a palavra SAIR para o número 1010.
					p 4.4 Todos os Participantes que assinarem o Vivo Meus Ídolos entre 21/09/2016 a 03/12/2016 e forem efetivamente tarifados no período, nos termos da cláusula 9 e subsequentes, receberão 01 (um) SMS, que poderá estar premiado com um dos prêmios descritos no item 10 abaixo. Será utilizado o mecanismo de premiação imediata, vinculada a títulos de capitalização e à extração da Loteria Federal, para definição dos SMS premiados e do prêmio atribuído a cada SMS. O Cliente também receberá via SMS as informações de como proceder para resgatar os prêmios.
					h4 5. TORPEDO INFO - VIVO TORPEDO INFO PREMIUM (FIEL CARTEIRO, DESCOMPLICA), BÁSICO e MMS SEQUENCIAL
					p 5.1 A assinatura pode ocorrer através dos canais ofertados ao Cliente VIVO no modelo de assinatura, ora denominados VIVO Torpedo Info. O cliente recebe mensagens de texto via SMS (“SMS”) e MMS (Multimedia Messaging System) em determinadas quantidades diárias ( R$ 1,16/dia), semanais ( R$ 2,99/semana) ou mensais (R$ 3,49/mês), de acordo com o canal que for contratado pelo Cliente VIVO.
					p 5.2 Todos os formatos de contratação poderão ser adquiridos através da navegação do VIVO CHIP, WAP, WEB, URA e SMS.
					p 5.3 Para cancelar basta o cliente enviar a palavra SAIR para o numero 4000.
					p 5.4 Todos os Participantes que assinarem o Torpedo Info entre 21/09/2016 a 03/12/2016 e forem efetivamente tarifados no período, nos termos da cláusula 9 e subsequentes, receberão 01 (um) SMS, que poderá estar premiado com um dos prêmios descritos no item 10 abaixo. Será utilizado o mecanismo de premiação imediata, vinculada a títulos de capitalização e à extração da Loteria Federal, para definição dos SMS premiados e do prêmio atribuído a cada SMS. O Cliente também receberá via SMS as informações de como proceder para resgatar os prêmios.
					h4 6. VIVO PLAYKIDS
					p 6.1 O cliente VIVO assina o serviço através do envio de SMS para o número 99076 e será tarifado em R$ 3,49 (três reais e quarenta e nove centavos) por semana e passa a ter acesso ao aplicativo Vivo PlayKids, disponível em IOS e ANDROID.
					p 6.2 Todos os formatos de contratação poderão ser adquiridos através da navegação do VIVO CHIP, WAP, WEB, URA e SMS.
					p 6.2 Para cancelar basta o cliente enviar a palavra SAIR para o número 99076.
					p 6.3 Todos os Participantes que assinarem o Vivo PlayKids entre 21/09/2016 a 03/12/2016 e forem efetivamente tarifados no período, nos termos da cláusula 9 e subsequentes, receberão 01 (um) SMS, que poderá estar premiado com um dos prêmios descritos no item 10 abaixo. Será utilizado o mecanismo de premiação imediata, vinculada a títulos de capitalização e à extração da Loteria Federal, para definição dos SMS premiados e do prêmio atribuído a cada SMS. O Cliente também receberá via SMS as informações de como proceder para resgatar os prêmios.
					h4 7. VIVO QUIZ MUSICAL
					p 7.1 O VIVO QUIZ MUSICAL é um serviço recreativo de perguntas e respostas com base no conhecimento sobre diversos temas e assuntos, que pode ser adquirido mediante assinatura semanal, pelos Clientes VIVO.
					p 7.2 Para participar da presente promoção o Cliente VIVO deverá adquirir a assinatura semanal do serviço VIVO QUIZ MUSICAL, através do envio de mensagens SMS (Torpedo SMS) para o número 1016, pelas interfaces SIMCARD (VIVO CHIP), WEB, WAP ou URA.
					p 7.3 Mediante a assinatura semanal do VIVO QUIZ MUSICAL, o Cliente Participante será tarifado em R$3,99 (três reais e noventa e nove centavos) por semana e terá o direito a receber e responder 20 (vinte) perguntas, bem como receber 20 (dez) dicas do VIVO QUIZ MUSICAL.
					p 7.4 A qualquer momento o participante poderá solicitar o cancelamento de sua assinatura, bastando enviar o comando “SAIR” para o número 1016.
					p 7.5 Todos os Participantes que assinarem o VIVO QUIZ MUSICAL entre 21/09/2016 a 03/12/2016 e forem efetivamente tarifados no período, nos termos da cláusula 9 e subsequentes, receberão 01 (um) SMS, que poderá estar premiado com um dos prêmios descritos no item 10 abaixo. Será utilizado o mecanismo de premiação imediata, vinculada a títulos de capitalização e à extração da Loteria Federal, para definição dos SMS premiados e do prêmio atribuído a cada SMS. O Cliente também receberá via SMS as informações de como proceder para resgatar os prêmios.
					h4 8. OBJETIVO DA PROMOÇÃO:
					p 8.1 Esta Promoção visa divulgar os serviços de interatividade VIVO RECADO, VIVO QUIZ, VIVO QUIZ MUSICAL, TORPEDO INFO, VIVO MEUS ÍDOLOS e VIVO PLAYKIDS; disponíveis para acesso via celular nos websites: 
						a(href='www.vivorecado.com.br') www.vivorecado.com.br
						| , 
						a(href='www.vivorecado.com.br') www.vivorecado.com.br
						| , 
						a(href='www.vivoquiz.com.br') www.vivoquiz.com.br
						| , 
						a(href='www.torpedoinfo.com.br') www.torpedoinfo.com.br
						| ; contemplando os participantes de acordo com os critérios descritos neste Regulamento.
					h4 9. FORMA DE PARTICIPAÇÃO:
					p 9.1 A Promoção é válida no período de 21/09/2016 a 03/12/2016. Serão consideradas válidas as participações feitas entre 00h00min do dia 21/09/2016 e às 23h59min do dia 03/12/2016, considerando-se o horário oficial de Brasília – DF e os resgates das premiações (envio do sms) efetuados entre as 00h00min do dia 29/09/2016 e às 23h59min do dia 03/12/2016, considerando-se o horário oficial de Brasília – DF.
					p 9.2 PARA PARTICIPAR, basta que o Participante, entre 21/09/2016 e 03/12/2016, assine um dos serviços participantes, da Promotora, seguindo os procedimentos de inscrição respectivos, onde estará disponível este Regulamento, com o qual o participante deverá estar de acordo. 
						strong
							| A garantia de participação na promoção somente ocorrerá após o Participante ter confirmada sua assinatura, tendo recebido SMS de confirmação e mediante tarifação bem-sucedida.
						strong
							| No caso do serviço VIVO RECADO, é necessário o resgate de recados para a participação na promoção.
					p 9.3 Os participantes manifestam sua total e incondicional aceitação ao disposto neste Regulamento, inclusive, para os clientes de planos pós-pagos, quanto à cobrança dos serviços em sua fatura de serviços de telecomunicações junto à VIVO ou de planos pré-pagos, para cobrança através de seus créditos pré-pagos válidos.
					p 9.4 É vedada a participação de funcionários (as), colaboradores (as), sócio acionistas da Promotora ou da VIVO e de suas empresas coligadas, bem como de seus respectivos parentes, incluindo pais, irmãos, filhos e cônjuges (independentemente de seu domicílio), parentes até 2º grau, assim como as pessoas com as quais residam (independentemente de seu grau de parentesco) e quaisquer pessoas envolvidas diretamente na execução desta Promoção. Caso seja identificado o contemplado pertencente a este grupo o mesmo será desclassificado e não será aplicada qualquer regra de aproximação.
					h4 10. PREMIAÇÃO:
					table.premiacao
						//- colgroup
						//- 	col(style='text-align:left;')
						//- 	col(style='text-align:left;')
						//- 	col(style='text-align:left;')
						//- 	col(style='text-align:left;')
						thead
							tr
								th(style='text-align:left;') Série
								th(style='text-align:left;') Contemplados - Vivo Recado
								th(style='text-align:left;') Valor líquido unitário (em R$)
								th(style='text-align:left;') Sugestão de uso
						tbody
							tr
								td(style='text-align:left;') A1
								td(style='text-align:left;') 12 (doze)
								td(style='text-align:left;') R$ 2.000,00
								td(style='text-align:left;') Resgate em Espécie
							tr
								td(style='text-align:left;') A2
								td(style='text-align:left;') 3.600 (três mil e seiscentos)
								td(style='text-align:left;') R$ 10,00
								td(style='text-align:left;') Bônus Celular
							tr
								td(style='text-align:left;') A3
								td(style='text-align:left;') 1.800 (Hum mil e oitocentos)
								td(style='text-align:left;') R$ 20,00
								td(style='text-align:left;') Bônus Celular
							tr
								td(style='text-align:left;') A4
								td(style='text-align:left;') 1.800 (Hum mil e oitocentos)
								td(style='text-align:left;') R$ 30,00
								td(style='text-align:left;') Bônus Celular
							tr
								td(style='text-align:left;') A5
								td(style='text-align:left;') 09 (nove)
								td(style='text-align:left;') R$ 3.000,00
								td(style='text-align:left;') Resgate em Espécie
							tr
								td(style='text-align:left;') A6
								td(style='text-align:left;') 2 (dois)
								td(style='text-align:left;') R$ 10.000,00
								td(style='text-align:left;') Resgate em Espécie
							tr
								td(style='text-align:left;') A7
								td(style='text-align:left;') 01 (um)
								td(style='text-align:left;') R$ 20.000,00
								td(style='text-align:left;') Resgate em Espécie
					p 10.1 Todos os prêmios acima citados possuem o valor líquido total equivalente a R$ 217.000,00 (duzentos e dezessete mil reais).
					p 10.2 Os prêmios especificados na tabela da cláusula 10 acima serão comunicados com as respectivas sugestões de compra indicadas na tabela, ficando definido que a premiação será entregue em moeda corrente para o Participante ganhador (Séries A1, A5, A6, A7), bônus para celular (Séries A2, A3, A4).
					p 10.3 Após a identificação dos contemplados que receberão seus prêmios em moeda corrente (Séries A1, A5, A6, A7), a SulAmérica efetuará o pagamento e/ou entrega do prêmio aos participantes contemplados no prazo máximo de 15 (quinze) dias úteis contados da data de solicitação de resgate e envio das informações e documentos necessários para entrega da premiação, o que ocorrer por último, sendo que estes deverão fornecer: cópia e originais do CPF/MF e cédula de identidade válidos, comprovante de titularidade da linha telefônica móvel e comprovante de residência atualizado (anterior há 180 dias), bem como assinar o recibo relativo ao valor e/ou descrição do prêmio. No caso de prêmios em dinheiro, poderá o contemplado optar pelo recebimento por meio de depósito bancário, sendo que deverá informar seus dados bancários. A Promotora irá contatar através de SMS os participantes contemplados para solicitar a apresentação dos documentos.
					p 10.4 A responsabilidade da Promotora e da sociedade de capitalização perante os participantes contemplados encerra-se no momento da entrega do prêmio.
					p 10.5 Os prêmios serão entregues livres e desembaraçados de quaisquer ônus.
					p 10.6 Além dos prêmios supracitados, os participantes da promoção, ganharão de forma garantida, sem sorteio, um prêmio a cada interação de elegibilidade dentro da promoção. Esse prêmio poderá ser um voucher com desconto para compras em sites parceiros, ou gratuidade em serviços de valor agregado da Promotora.
					h4 11. APURAÇÃO:
					p 11.1 Para concorrer aos prêmios, cada participante receberá, de acordo com a mecânica prevista neste Regulamento, um ou mais SMSs informando a premiação instantânea, que estará previamente vinculada aos Números da Sorte, aleatórios e pré-determinados, não repetidos na mesma série de Títulos, composto de 06 (seis) algarismos e compreendido entre 000.000 (inclusive) e 999.999 (inclusive).
					p 11.2 Para apuração dos resultados serão considerados os 05 (cinco) primeiros prêmios da extração da Loteria Federal, observada a ordem de premiação. A combinação de sorteio será obtida da seguinte maneira:
					p 11.2.1 Será apurado o algarismo da dezena simples do quinto prêmio da Loteria Federal;
					p 11.2.2 Será apurado o número, composto de cinco algarismos, obtido através da leitura, de baixo para cima, da coluna formada pelo algarismo da unidade simples dos cinco primeiros prêmios da Loteria Federal;
					p 11.2.3 Acombinação contemplada será igual a junção do algarismo apurado na alínea ( a ) e o número apurado na alínea ( b ), nesta ordem.
					p 11.2.4 Para exemplificar a combinação sorteada considere os seguintes prêmios da Loteria Federal:
					table.sorteio
						thead
							tr
								th(style='text-align:left;') 1º prêmio da Loteria Federal
								th(style='text-align:left;') 6
								th(style='text-align:left;') 8
								th(style='text-align:left;') 5
								th(style='text-align:left;') 8
								th(style='text-align:left;') 1
						tbody
							tr
								td(style='text-align:left;') 2º prêmio da Loteria Federal
								td(style='text-align:left;') 8
								td(style='text-align:left;') 7
								td(style='text-align:left;') 9
								td(style='text-align:left;') 6
								td(style='text-align:left;') 2
							tr
								td(style='text-align:left;') 3º prêmio da Loteria Federal
								td(style='text-align:left;') 3
								td(style='text-align:left;') 4
								td(style='text-align:left;') 7
								td(style='text-align:left;') 6
								td(style='text-align:left;') 4
							tr
								td(style='text-align:left;') 4º prêmio da Loteria Federal
								td(style='text-align:left;') 2
								td(style='text-align:left;') 1
								td(style='text-align:left;') 4
								td(style='text-align:left;') 3
								td(style='text-align:left;') 9
							tr
								td(style='text-align:left;') 5º prêmio da Loteria Federal
								td(style='text-align:left;') 6
								td(style='text-align:left;') 3
								td(style='text-align:left;') 2
								td(style='text-align:left;') 1
								td(style='text-align:left;') 5
					p Algarismo da dezena simples do quinto prêmio: 1
					p Número apurado através da unidade simples: 59.421
					p Combinação apurada: 159.421
					p 11.3 Todas as séries citadas neste regulamento, inclusive sua identificação, mantêm total independência com os procedimentos de registro e controle de emissões de Títulos de Capitalização pela Sul América Capitalização S.A. – SULACAP.
					p 11.4 No caso de participantes cuja linha telefônica seja de titularidade de pessoa jurídica, o prêmio será entregue ao seu representante legal ou, caso expressamente autorize, por escrito, à pessoa física que utilize a linha telefônica que gerou a participação na Promoção. Caso esta opte por tal possibilidade, deverá firmar uma carta, com firma reconhecida, autorizando a Promotora efetuar a entrega a este usuário devidamente assinada na forma de seus atos constitutivos.
					h4 12. DIVULGAÇÃO
					p 12.1 Os ganhadores serão comunicados por meio de SMS e telefonema e terão seus nomes divulgados no website www.vivorecado.com.br e www.vivopromo.com.br.
					p 12.2 Caso haja a impossibilidade de localização dos ganhadores por ausência de dados cadastrais, dados cadastrais falsos ou por descontinuidade da linha telefônica, sendo feitas tentativas de contato através de telefonemas, SMS e telegramas, com os ganhadores durante 60 (sessenta) dias, sem sucesso, considerando-se que serão feitas ao menos 02 (duas) tentativas de contato por semana, 
						strong o participante será desclassificado.
					p 12.3 O presente Regulamento estará disponível para consulta por qualquer interessado no website www.vivorecado.com.br e www.vivopromo.com.br.
					h4 13. DISPOSIÇÕES GERAIS:
					p 13.1 A VIVO S/A não possui qualquer vínculo com a Promotora desta Promoção, sendo meramente detentora da rede de tráfego de informações utilizada pela Promotora para a prestação de seus serviços.
					p 13.2 Os ganhadores ou seus responsáveis concordam em ceder neste ato, gratuitamente, os direitos de uso do seu nome, imagem e voz à promotora, em quaisquer mídias (impressa ou eletrônica, CD, DVD, revistas, jornais, sites internet, redes sociais, TV aberta ou fechada, além de rádios), para uso exclusivo na divulgação desta Promoção, pelo período de 12 (doze) meses a contar da data de recebimento dos prêmios.
					p 13.3 Os participantes poderão ser excluídos automaticamente desta Promoção em caso de suspeita de fraude ou fraude comprovada, podendo ainda responder por crime de falsidade ideológica ou documental, não preenchimento dos requisitos previamente determinados e/ou em decorrência de informações incorretas ou equivocadas, de acordo com as regras deste Regulamento.
					p 13.4 Em momento algum poderá a Promotora ser responsabilizada por inscrições perdidas, atrasadas, enviadas erroneamente, incompletas, incorretas, inválidas ou imprecisas. A Promotora não será responsável por problemas, falhas ou funcionamento técnico, de qualquer tipo, em redes de computadores, servidores ou provedores, equipamentos de computadores, hardware ou software, ou erro, interrupção, defeito, atraso ou falha em operações ou transmissões para o correto processamento de inscrições, incluindo, mas não se limitando, a transmissão imprecisa de inscrições ou falha da Promotora em recebê-las, em razão de problemas técnicos, congestionamento na internet ou no site ligado à Promoção, vírus, falha de programação (bugs) ou violação por terceiros (hackers).
					p 13.5 A Promotora reserva-se o direito de desclassificar qualquer participante que julgue estar manipulando a operação desta Promoção ou violando os termos e condições dispostos neste Regulamento.
					p 13.6 Também não será a Promotora responsável por dados extraviados, incompletos ou danificados que impossibilitem a entrega dos prêmios.
					p 13.7 Caberá exclusivamente à Promotora, por meio de uma comissão independente, avaliar e decidir sobre os casos omissos e as dúvidas suscitadas durante a realização da Promoção, sendo suas decisões soberanas e irrecorríveis.
					p 13.8 A simples participação pressupõe total conhecimento e concordância com as disposições deste Regulamento. Os participantes reconhecem e aceitam expressamente que a Promotora não poderá ser responsabilizada por qualquer dano ou prejuízo oriundo da participação nesta Promoção ou da eventual aceitação do prêmio.
					h4 14. DO FORO
					p 14.1 Fica eleito o Foro da Comarca do domicílio do participante para dirimir quaisquer questões oriundas deste Regulamento. Qualquer disputa que surja em virtude do presente Regulamento será regulada pela legislação brasileira.
					h4 15. TERMO DE CESSÃO DE DIREITOS DE SORTEIO
					p 15.1 Os sorteios estão lastreados por Títulos de Capitalização da Modalidade Incentivo, emitidos pela Sul América Capitalização S.A. – SulaCap, aprovados conforme Processo SUSEP nº 15414.901340/2013–98. A MOVILE INTERNET MÓVEL S/A, pessoa jurídica de direito privado, inscrita no CNPJ/MF sob o nº 08.654.191/0001–17, é subscritora dos Títulos de Capitalização e, na condição de proprietária e detentora de todos os direitos decorrentes desses Títulos, cede aos participantes exclusivamente os seus direitos de participação nos sorteios. Ouvidoria SulAmérica: 0800 725 3374​.


		.container
			footer
				img(src="img/telefonica.jpg").telefonica
				img(src="img/vivo-patrocinadora.png").patrocinadora
				img(src="img/viva-tudo.png").assinatura


						


		script(src="js/jquery.min.js", type="text/javascript")
		script(src="js/menu-mobile.js", type="text/javascript")

