doctype html
html(lang='pt-br')
	head
		meta(charset='UTF-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Movile Messaging – Novo envio
		meta(name='movile-messaging', content='Movile Messaging')
		// Main CSS
		link(rel='stylesheet', href='../stylesheets/main.css')
		// Typekit
		script(src='https://use.typekit.net/fja4naa.js')
		script.
			try{Typekit.load({ async: false });}catch(e){}
	body.send-new
		aside
			.logo
				img.blue(src='../img/logo-white.png', alt='Logo Movile Messaging')
			//
				<nav>
				<ul class="primary-nav">
				<li><a href="">Dashboard</a></li>
				<li><a href="">Novo envio</a></li>
				<li><a href="" class="active">Relatórios</a></li>
				<li><a href="">Contatos</a></li>
				<li><a href="">Configurações</a></li>
				<li><a href="">Suporte</a></li>
				</ul>
				</nav>
		section.upper-bar
			h1 Novo envio
		section.main-content
			p.feedback-msg.success-msg
				span Contato
				|  criado com sucesso!
			h1 Escolha quem vai receber
			.columns
				.column__half.first-column
					label.main-label Procure por Grupos ou Contatos
					.search-active(role='search')
						input(type='search', autofocus='')
					.recipients-container
						h1 Ou crie destinatários
						.recipients-buttons
							a.cta.floating-cta(href='./novo-grupo.html')
								span.has-icon-left.icon-plus novo grupo
							a.cta.floating-cta(href='./novo-contato.html')
								span.has-icon-left.icon-plus novo contato
				.column__half.second-column
					h2 Destinatários
					.recipients__checkout.checkout--groups
						.main-label Grupos
						.labels__container
							.checkout__label.label-with-bg
								span.has-icon-left.icon-close-blue Grupo
							.checkout__label.label-with-bg
								span.has-icon-left.icon-close-blue GrupoGrupoGrupo
							.checkout__label.label-with-bg
								span.has-icon-left.icon-close-blue GrupoGrupo
					.recipients__checkout.checkout--contacts
						.main-label Contatos
						.labels__container
							.checkout__label.label-with-bg
								span.has-icon-left.icon-close-blue Contato
							.checkout__label.label-with-bg
								span.has-icon-left.icon-close-blue ContatoContatoContato
							.checkout__label.label-with-bg
								span.has-icon-left.icon-close-blue ContatoContato
			#crumb-bar
				ul.primary-nav
					li
						a(href='./tipo-envio.html') Tipo de envio
					li
						a.active(href='') Destinatários
					li
						a(href='./mensagem.html') Mensagem
					li
						a(href='') Campanha
					li
						a(href='') Resumo
				button.crumb-bar__cta
					span.has-icon-right.icon-continue Continuar
	// jQuery
	script(src='../js/jquery-3.1.0.min.js')
	// Filters
	script(src='../js/forms.js')
	script(src='../js/destinatarios.js')
