doctype html
html(lang='pt-br')
	head
		meta(charset='UTF-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Movile Messaging – Novo envio
		meta(name='movile-messaging', content='Movile Messaging')
		// Main CSS
		link(rel='stylesheet', href='../stylesheets/main.css')
		// Typekit
		script(src='https://use.typekit.net/fja4naa.js')
		script.
			try{Typekit.load({ async: false });}catch(e){}
	body.send-new
		aside
			.logo
				img.blue(src='../img/logo-white.png', alt='Logo Movile Messaging')
			//
				<nav>
				<ul class="primary-nav">
				<li><a href="">Dashboard</a></li>
				<li><a href="">Novo envio</a></li>
				<li><a href="" class="active">Relatórios</a></li>
				<li><a href="">Contatos</a></li>
				<li><a href="">Configurações</a></li>
				<li><a href="">Suporte</a></li>
				</ul>
				</nav>
		section.upper-bar
			h1 Novo envio
		section.main-content
			h1 Novo grupo
			.columns
				.column__half.first-column
					form.input-group
						label.main-label(for='grupo-nome') Nome*
						input#grupo-nome(type='text', name='grupo-nome', autofocus='')
						label.main-label(for='grupo-descricao') Descrição
						textarea#grupo-descricao(name='grupo-descricao', cols='30', rows='10')
						label.main-label Contatos
						.search-active(role='search')
							input(type='search', autofocus='')
				.cta-group
					.cta-container
						a.cta.cta-secondary(href='./destinatarios.html') cancelar
						a.cta.cta-accent(href='./destinatarios.html')
							span.has-icon-left.icon-check.icon-check--white confirmar
	// jQuery
	script(src='../js/jquery-3.1.0.min.js')
	// Filters
	script(src='../js/forms.js')
