* {
	margin: 0;
	@include border-box;
}

*:hover {
	@include transition(150ms);
}

*:focus {
	outline-color: $accent;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: $base-font;
	line-height: 1;
	color: $main-gray;
	font-weight: $regular;
}

a,
a:hover {
	text-decoration: none;
}

input,
textarea,
select {
	width: 100%;
	border-color: $main-gray;
	font-size: 0.875rem;
	font-weight: $regular;
	line-height: 1.375rem;
	margin-top: 6px;
	padding: 12px 16px;
	border-radius: 0;
}

textarea {
	max-height: 216px;
}