// COLORS
$accent: #84ADFF;
$accent-hover: #E0EAFF;
$accent-pressed: #5a6f9a;
$main-gray: #A2B7C1;
$lighter-gray: rgba(55,71,79,0.18);
$theblack: #37474F;
$sidebar: #6B84B6;
$sidebar-border: #576E95;
$ice-white: #F3F9FF;
$alert: rgba(255,0,80,0.5);