// Custom CSS for the Chartist.js plugin

.ct-chart {
	// float: left;
}

.ct-bar {
	stroke-width: 50px;
}

.ct-series-a .ct-bar {
	stroke: rgba(98,67,255,0.50);
}

.ct-series-b .ct-bar {
	stroke: rgba(24,210,1,0.50);
}

.ct-series-c .ct-bar {
	stroke: rgba(255,0,79,0.50);
}

.ct-grid {
	stroke-dasharray: 0;
	stroke: $lighter-gray;
}

.ct-grids {
	position: relative;
}

.ct-grids:after {
	content: "ALOHA";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: $theblack;
}

.ct-grids .ct-horizontal {
	display: none;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
	position: relative;
	font-size: .875rem;
	font-weight: $bold;
	text-align: left;
	line-height: 1.25;
	color: $theblack;
	padding: 24px 30px 0;
	&::before {
		content: "envio em 24/09/18";
		position: absolute;
		top: 6px;
		left: 30px;
		@include text-label;
		font-size: 0.6875rem;
		color: $main-gray;
	}
	&::after {
		content: "veja detalhes";
		position: absolute;
		bottom: 0;
		left: 30px;
		@include text-label;
		font-size: 0.6875rem;
		color: $main-gray;
		padding-bottom: 3px;
		border-bottom: 1px solid;
		cursor: pointer;
	}
}