//class for the dropdowns inline
.content-box {
	box-sizing: content-box;
}

.download-items {
	top: 100%;
	box-shadow: 0 2px 3px 0 rgba(55,71,79,0.18);
	border: 1px solid rgba(55,71,79,0.18);
	opacity: 0;
	pointer-events: none;
	-webkit-transition:all ease 0.4s;
	-moz-transition:all ease 0.4s;
	-ms-transition:all ease 0.4s;
	-o-transition:all ease 0.4s;
	transition:all ease 0.4s;
	&:hover {
		opacity: 1;
		pointer-events: auto;
	}
}

.download-button:hover {
	& + .download-items {
		opacity: 1;
		pointer-events: auto;
	}
}

// .input-container {
// 	border-top: 1px solid $lighter-gray;
// 	margin-top: 24px;
// 	padding-top: 24px;
// }

.input,
input {
	// border: 1px solid $lighter-gray;
	// padding: 12px 16px;
	// margin-top: 8px;
	span {
		// font-size: 0.875rem;
		// line-height: 1.25;
		// font-weight: $bold;
		// display: inline-block;
		// overflow-x: hidden;
		// white-space: nowrap;
		// max-width: calc(100% - 26px);
	}
	&:hover {
		cursor: pointer;
	}
}

.input.select {
	position: relative;
	&:after {
		position: absolute;
		top: 50%;
		right: 16px;
		@include vertical-center;
		width: 10px;
		height: 5px;
		background: url('../img/icons/caretdown.png') no-repeat center center;
		background-size: 10px 5px;
		content: "";
	}
	span::after {
		content: "";
		position: absolute;
		top: 0;
		right: 42px;
		bottom: 0;
		height: 100%;
		width: 24px;
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 100%);
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 100%);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
	}
}

.dropdown {
	display: none;
	position: absolute;
	top: -1.05rem;
    left: -1px; //because of the box-shadow
    right: -1px;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
	// top: -13px;
	// width: 100%;
	// width: calc(100% + 26px);
	// padding: 12px 12px 0;
	// margin-left: -13px;
	// margin-right: -13px;
	background: #fff;
	opacity: 0;
	@include box-with-shadow;
	@include transition(150ms);
	z-index: 2;
	&.dropdown--active {
		display: block;
	}
	&.notifications {
		top: 36px;
		right: 0;
		left: initial;
		padding: 0;
		border-top: 3px solid $accent;
		width: 420px;
		&::after {
			content: '';
			position: absolute;
			top: -10px;
			right: 16px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid #84ADFF
		}
	}
	span + ul li:first-child {
		padding-top: 0;
	}
	& *::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 3px;
	}
	& *::-webkit-scrollbar-thumb {
		border-radius: 1px;
		background-color: $main-gray;
		-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	}
}

.dropdown ul {
	list-style-type: none;
	// padding: 0 6px 6px 6px;
	max-height: 216px;
	overflow-x: scroll;
	li {
		padding: 8px 0;
		font-size: 1.12rem; // 18px
		line-height: 1.375rem; //22px
		font-weight: $black;
		// color: $main-gray;
		span {
			display: inline-block;
			min-width: 48px;
			font-size: 0.875rem; //14px
			line-height: 1.375rem; //22px
			// font-weight: $regular;
			// color: $theblack;
			margin-right: 12px;
			cursor: pointer;
			&:hover {
				color: $accent;
			}
		}
		&.search__subheading span,
		&.search__subheading span:hover {
			color: $main-gray;
			cursor: default;
		}
	}
}

.dropdown--multiple-lists {
	ul {
		max-height: none;
	}
	.multiple-lists__container {
		max-height: 216px;
		overflow-y: scroll;
	}
}

.input.search {
	position: relative;
	padding-left: 42px;
	// background-image: url('../img/icons/magnifier.png') no-repeat 14px center;
	background-repeat: no-repeat;
	background-position: 14px center;
	background-color: white;
	background-size: 18px;
}

.input.caret-down {
	position: relative;
	background-image: url('../img/icons/caretdown.png');
	// background-color: white;
	background-size: 10px;
	background-position: right 20px center;
	background-repeat: no-repeat;
}

.search-active {
	position: relative;
	input {
		position: relative;
		padding: 12px 8px 12px 38px;
		height: 50px;
		width: 100%;
		font-size: 0.875em; // 14px (desired) / 16px (body base-font)
		font-weight: $regular;
		color: $theblack;
		border: 1px solid $main-gray;
		background-color: transparent;
		background: url('../img/icons/magnifier.png') no-repeat 14px center;
		background-size: 18px;
		&:-moz-focus-inner{
			padding: 0;
		}
	}
	label {
		position: absolute;
		top: 12px;
		left: 42px;
		font-size: 1.125em; //18px (desired) /16px (body base-font)
		font-weight: $black;
		// z-index: -1;
	}
	+ ul {
		padding-left: 42px;
	}
}

.input.multichoice {
	position: relative;
	border-color: transparent;
	padding: 0 0 0 30px;
	margin-left: -30px;
}

.checkbox,
.radio {
	position: relative;
	input {
		display: none;
		visibility: hidden;
		z-index: 2;
		&:checked + label {
			color: $accent;
		}
		&:checked + label:before {
			border-color: $accent
		}
		&:checked + label:after {
			opacity: 1;
		}
	}
	label {
		border-color: transparent;
		// font-size: 1.125em;
		cursor: pointer;
		// @include vertical-center;
		// white-space: nowrap;
		z-index: 1;
		&:before {
			content: "";
			position: absolute;
			opacity: 1;
			@include vertical-center;
			left: -1rem;
			border: 1px solid #000;
			height: 1rem; 
			width: 1rem;
		}
		&:after {
			content: "";
			position: absolute;
			opacity: 0;
			left: -0.8125rem; //13px
			@include vertical-center;
			height: 0.75rem; 
			width: 0.75rem;
			background-color: #84ADFF;
			@include transition(150ms);
		}
	}
}

.radio label {
	&:before,
	&:after {
		border-radius: 18px;
	}
}

.select-only {
	position: relative;
}

.input.has-description {
	& input:checked + label:before {
		border-color: $accent;
	}
	& label {
		color: $theblack;
	}
}

.input-group {
	float: left;
	width: 100%;
	margin-top: -24px;
	& .main-label {
		display: block;
		margin-top: 24px;
	}
}

.input-with-select {
	position: relative;
	.select {
		float: left;
		width: 30%;
		border: 1px solid #A2B7C1;
		border-right: none;
		padding: 12px 16px 12px 16px; //padding-bottom is a magic number, sorry
		margin-top: 8px;
	}
	.input span {
		overflow-x: inherit;
		&::after {
			display: none;
		}
	}
	input {
		width: 70%;
	}
	.dropdown li {
		font-size: 0.875rem; //14px
		line-height: 1.375rem; //22px
		font-weight: $regular;
		color: $theblack;
		cursor: pointer;
		&:hover {
			color: $accent;
		}
		span {
			font-size: 1.12rem; // 18px
			line-height: 1.375rem; //22px
			font-weight: $black;
			color: $main-gray;
			cursor: default;
			&:hover {
				color: $main-gray;
			}
		}
	}
}

.outro-genero {
	span {
		display: block !important;
		margin-right: 0 !important;
	}
	input {
		width: calc(100% - 52px);
		margin-top: 0;
		margin-left: 6px;
		border-top: none;
		border-right: none;
		border-left: none;
		padding-left: 0;
		padding-bottom: 0;
		padding-top: 0;
		&:focus {
			outline: none;
			border-bottom-color: $accent;
		}
	}
	.filter__actions {
		padding: 12px 0 0;
		border-top: none;
	}
}

// .filter__container {
// 	padding: 18px;
// }

.fake-textarea {
	width: 100%;
	border: 1px solid #A2B7C1;
	color: $theblack;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.375rem;
	margin-top: 6px;
	padding: 12px 16px;
	height: 216px;
	overflow-y: auto;
}

// .dropdown-item-box {
// 	.checkbox,
// 	.radio {
// 		label {
// 			&:before {
// 				left: 0;
// 			}
// 		}
// 	}
// }
