// Use them on <span> inside links or buttons

.has-icon-left {
	cursor: pointer;
	position: relative;
	padding-left: 18px !important;
	&:after {		
		left: 0px !important;
	}
}

.has-icon-right {
	cursor: pointer;
	position: relative;
	padding-right: 18px !important;
	&:after {
		right: 0px !important;
	}
}

.has-tooltip {
	position: relative;
	.tooltip-content {
		position: absolute;
		pointer-events: none;
		padding: 8px;
		opacity: 0;
		width: auto;
		top: -100%;
		margin-top: -12px;
		left: 0;
		margin-left: -10px; 
		background: $accent;
		color: white;
		text-align: center;
		transition: all ease 0.4s;
		-webkit-transform: translateY(5px);
		   -moz-transform: translateY(5px);
		    -ms-transform: translateY(5px);
		     -o-transform: translateY(5px);
		        transform: translateY(5px);
		&::after {
			background: $accent;
			content: '';
			width: 14px;
			height: 14px;
			position: absolute;
			bottom: -3px;
			left: 9px;
			z-index: -1;
			transform: rotate(45deg);
      	}
	}
	&:hover > .tooltip-content {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}
}

.icon-user {
	&:after {
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/user.png') no-repeat 2px center;
		background-size: contain;
	}
}

.icon-check {
	&:after {
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/check.png') no-repeat 2px center;
		background-size: 12px;
	}
}

.icon-eye-blue {
	&:after {
		content: "";
		width: 14px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/eye-blue.png') no-repeat 2px center;
		background-size: 12px;
	}
}

.icon-search {
	&:after {
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/search.png') no-repeat 2px center;
		background-size: 12px;
	}
}

.bg-search {
	background: url('../img/icons/search.png') no-repeat 1rem center;
	background-size: 1rem;
	padding-left: 3rem;
}

.icon-check--white {
	&:after {
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/check-white.png') no-repeat 2px center;
		background-size: 12px;
	}
}

.icon-plus {
	&:after {
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/plus-gray.png') no-repeat 2px center;
		background-size: 12px;
	}
}

.icon-plus_blue {
	&:after {
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/plus-blue.png') no-repeat 2px center;
		background-size: 12px;
	}
}

.icon-continue {
	&:after {
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/arrow-right-white.png') no-repeat 2px center;
		background-size: 12px;
	}
}

.icon-sidemodal {
	&:after {
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/sidemodal.png') no-repeat 2px center;
		background-size: 12px;
	}
}

.icon-arrow-left {
	&:after {
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/arrow-left.png') no-repeat 2px center;
		background-size: 12px;
	}
}

.icon-close-blue {
	&:after {
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/close-blue.png') no-repeat center center;
		background-size: 12px;
		cursor: pointer;
	}
}

.icon-refresh {
	&:after {
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/refresh.png') no-repeat center center;
		background-size: 12px;
		cursor: pointer;
	}
}

.icon-refresh--white {
	&:after {
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/refresh-white.png') no-repeat center center;
		background-size: 12px;
		cursor: pointer;
	}
}

.icon-download {
	&:after {
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/download.png') no-repeat center center;
		background-size: 12px;
		cursor: pointer;
	}
}

.icon-download-blue {
	&:after {
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/download-blue.png') no-repeat center center;
		background-size: 12px;
		cursor: pointer;
	}
}

.icon-dropdown {
	&:after {
		content: "";
		width: 10px;
		height: 10px;
		right: 0;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/caretdown-gray.png') no-repeat center center;
		background-size: 12px;
		cursor: pointer;
	}
}

.icon-dropdown__blue {
	&:after {
		content: "";
		width: 10px;
		height: 10px;
		right: 0;
		position: absolute;
		top: calc(50% - 5px);
		background: url('../img/icons/caretdown-blue.png') no-repeat center center;
		background-size: 12px;
		cursor: pointer;
	}
}