aside.fixed.fl.h-100.bg-sidebar
    .bb.b--black-10
        .pl4.mt4.pb3.w4
            img.db.w-90(src='img/logo-white.png', alt='Logo Movile Messaging')
    nav.pl4.mt4
        ul.list.pl0.mt3
            li.mt3
                a.white.dim.f6(href='') Dashboard
            li.mt3
                a.white.dim.f6(href='') Novo envio
            li.mt3
                a.white.dim.f6.bb.bw1(href='') Relatórios
            li.mt3
                a.white.dim.f6(href='') Contatos
            li.mt3
                a.white.dim.f6(href='') Configurações
            li.mt3
                a.white.dim.f6(href='') Suporte