nav
	ul.primary-nav
		li
			a.active(href='') Dashboard
		li
			a(href='') Novo envio
		li
			a(href='') Relatórios
		li
			a(href='') Contatos
		li
			a(href='') Configurações
		li
			a(href='') Suporte