// FILTERS
.actions-container
	// FILTERS ROW
	.mt4.nl3.nr3.flex.justify-between
		// FILTER ITEM
		.relative.w-third.ph3
			label.black-50.f6 Tipo de relat칩rio
			.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input.caret-down
				span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Envios consolidados
			.dropdown.content-box
				label.black-50.f6 Tipo de relat칩rio
				input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
				ul.pt0.pb1.pl3
					li.search__subheading
						span Buscas recentes
					li
						span Bruno Farias
					li
						span Nayara Rodrigues
					li
						span Neto Andrade
					li
						span Hudson Souza
					li
						span Edson Koji
					li
						span Henrique Perticarati
					li
						span Juliana Gaspari
		// FILTER ITEM
		.relative.w-third.ph3
			label.black-50.f6 Subconta
			.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input.caret-down
				span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Envios consolidados
			.dropdown.content-box
				label.black-50.f6 Subconta
				input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
				ul.pt0.pb1.pl3
					li.search__subheading
						span Buscas recentes
					li
						span Bruno Farias
					li
						span Nayara Rodrigues
					li
						span Neto Andrade
					li
						span Hudson Souza
					li
						span Edson Koji
					li
						span Henrique Perticarati
					li
						span Juliana Gaspari
		// FILTER ITEM
		.relative.w-third.ph3
			label.black-50.f6 Usu치rios
			.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input.caret-down
				span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Envios consolidados
			.dropdown.content-box
				label.black-50.f6 Usu치rios
				input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
				ul.pt0.pb1.pl3
					li.search__subheading
						span Buscas recentes
					li
						span Bruno Farias
					li
						span Nayara Rodrigues
					li
						span Neto Andrade
					li
						span Hudson Souza
					li
						span Edson Koji
					li
						span Henrique Perticarati
					li
						span Juliana Gaspari