doctype html
html(lang='pt-br')
	head
		meta(charset='UTF-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Movile Messaging – Relatórios
		meta(name='movile-messaging', content='Movile Messaging')
		// For the calendar
		link(href='calendar/jquery-ui/jquery-ui.min.css', rel='stylesheet')
		link(href='calendar/jquery.comiseo.daterangepicker.css', rel='stylesheet')
		// For the charts
		link(href='charts/chartist.min.css', rel='stylesheet')
		script(src='charts/chartist.min.js', charset='utf-8')
		// Main CSS
		link(rel='stylesheet', href='stylesheets/main.css')
		// Typekit
		script(src='https://use.typekit.net/fja4naa.js')
		script.
			try{Typekit.load({ async: false });}catch(e){}
	body
		aside
			.logo
				img.blue(src='img/logo-white.png', alt='Logo Movile Messaging')
			nav
				ul.primary-nav
					li
						a(href='') Dashboard
					li
						a(href='') Novo envio
					li
						a.active(href='') Relatórios
					li
						a(href='') Contatos
					li
						a(href='') Configurações
					li
						a(href='') Suporte
		section.upper-bar
			h1 Relatórios
			// Calendar
			input#datepicker.calendar-picker(name='e1')
			// /Calendar
		section.main-content
			#bottomModal.bottom-bar-modal
				.actions-container
					.filters
						.filters__header.mobile-only
							h2 Filtros
							span.close &times
						// CAMPANHA
						.filters__item.filters__item--campaign
							label.main-label Campanha
							.input.select
								span Dia das Mães
							.dropdown.dropdown--campaign
								label.main-label Campanha
								form.search-active(role='search')
									// <label for="search">Buscar</label>
									input(type='search', autofocus='')
								ul
									li
										span Todas as campanhas
									li.search__subheading 
										span Buscas recentes
									li
										span Dia das Mães em Pindamonhangaba
									li
										span Dia das Mães
									li
										span Festa junina
									li
										span Coleção de inverno
									li
										span Liquidação de inverno
									li
										span Dia das Mães em Pindamonhangaba
									li
										span Dia das Mães
								//- .filter__actions
								//- 	a.cta.cta-secondary.inner-cta(href='javascript:;') cancelar
								//- 	a.cta.inner-cta.has-icon-left.icon-check(href='javascript:;') confirmar
						// USUARIO OU LA
						.filters__item.filters__item--user-or-la
							label.main-label Usuário ou LA
							.input.search
								span Usuário ou LA
							.dropdown.dropdown--user-or-la
								label.main-label Usuário ou LA
								form.search-active(role='search')
									input(type='search', autofocus='')
								ul
									li.search__subheading 
										span Buscas recentes
									li
										span Bruno Farias
									li
										span Nayara Rodrigues
									li
										span Neto Andrade
									li
										span Hudson Souza
									li
										span Edson Koji
									li
										span Henrique Perticarati
									li
										span Juliana Gaspari
								//- .filter__actions
								//- 	a.cta.cta-secondary.inner-cta(href='javascript:;') cancelar
								//- 	a.cta.inner-cta.has-icon-left.icon-check(href='javascript:;') confirmar
						// CARRIERS
						.filters__item.filters__item--carriers
							form
								.input.multichoice
									.checkbox
										input#operadoras__checkbox(type='checkbox', name='carriers')
										label(for='operadoras__checkbox') Dividir por operadoras
					.secondary-actions
						.actions__container
							a.cta--secondary(href='javascript:;') download
			.bottom-bar.mobile-only
				#modalTrigger.bottom-bar__filters
					button
						| Você tem 
						span 2 filtros
						|  ativos
				.secondary-actions
					.actions__container
						a.download-report download
						a.download-report
			.ct-chart.ct-double-octave
	// jQuery
	script(src='js/jquery-3.1.0.min.js')
	// Filters
	script(src='js/forms.js')
	// For the calendar
	script(src='calendar/jquery-ui/jquery-ui.min.js')
	script(src='calendar/moment.js')
	script(src='calendar/jquery.comiseo.daterangepicker.js')
	script(src='charts/custom-charts.js')
	script.
		$(function() {
		$("#datepicker").daterangepicker({
		presetRanges: [{
		text: 'Últimos 7 dias',
		dateStart: function() { return moment().add(-7, 'days') },
		dateEnd: function() { return moment().add(0, 'days') }
		}, {
		text: 'Últimos 30 dias',
		dateStart: function() { return moment().add(-30, 'days') },
		dateEnd: function() { return moment().add(0, 'days') }
		}, {
		text: 'Últimos 90 dias',
		dateStart: function() { return moment().add(-90, 'days') },
		dateEnd: function() { return moment().add(0, 'days') }
		}],
		applyOnMenuSelect: false,
		dateFormat: 'd M yy',
		rangeSplitter: ' – ',
		initialText: 'Escolha um período',
		applyButtonText: 'confirmar',
		clearButtonText: 'limpar',
		cancelButtonText: 'cancelar',
		verticalOffset: -50,
		datepickerOptions: {
		dayNamesMin: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
		monthNames: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'  ],
		monthNamesShort: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
		numberOfMonths: 2,
		minDate: null,
		maxDate: 0
		}
		});
		});