doctype html
html(lang='pt-br')
	head
		meta(charset='UTF-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Movile Messaging – Contatos
		meta(name='movile-messaging', content='Movile Messaging')
		// For the charts
		link(href='charts/chartist.min.css', rel='stylesheet')
		script(src='charts/chartist.min.js', charset='utf-8')
		// Tachyons CSS
		link(rel='stylesheet', href='stylesheets/tachyons.min.css')
		// Main CSS
		link(rel='stylesheet', href='stylesheets/main.css')
		// Typekit
		script(src='https://use.typekit.net/fja4naa.js')
		script.
			try{Typekit.load({ async: false });}catch(e){}
		style.
			.table-operadora, .table-subconta, .table-inicio{display:none;}
	body
		aside.fixed.fl.h-100.bg-sidebar
			.bb.b--black-10
				.pl4.mt4.pb3.w4
					a(href="dashboard.html").db.w-90
						img.db(src='img/logo-white.png', alt='Logo Movile Messaging')
			nav.pl4.mt4
				ul.list.pl0.mt3
					li.mt3
						a.white.dim.f6(href='dashboard.html') Dashboard
					li.mt3
						a.white.dim.f6(href='novo-envio.html') Novo envio
					li.mt3
						a.white.dim.f6(href='relatorios-consolidados.html') Relatórios
					li.mt3
						a.white.dim.f6.bb.bw1(href='contatos.html') Contatos
					li.mt3
						a.white.dim.f6(href='permissoes.html') Permissões
					li.mt3
						a.white.dim.f6(href='conta.html') Sua conta
					li.mt3
						a.white.dim.f6(href='') Suporte
		section.upper-bar.flex.justify-between.items-end.fr.ph4.pt4.pb3.bb.b--black-10
			h1.f2.fl.theblack.lh-solid Contatos
			.fr.lh-copy.relative
				.relative.mr4.fl
					a.upper-bar-menu.f5.b.has-icon.has-icon-left.icon-notif__gray.pointer Notificações
					.absolute.top--1.right--1
						.relative
							span.notification-badge 275
					// NOTIFICATIONS
					.dropdown.notifications
						// NOTIF HEADER
						.fl.w-100.pa3.bb.black-20
							button.mark-all-as-read.ttu.fr.lh-copy.pv0.pr0.tracked.b.f8.main-gray.bn.bg-white.has-icon.has-icon-left.icon-check--gray.outline-0 marcar todas como lidas
						// NOTIFS BODY
						.fl.w-100
							// NOTIF ITEM
							.notif__item.bb.black-20.pa3.fl.w-100
								.notif__icon.w1.fl
									img.db.w-100(src='img/icons/graph-gray.png', alt='Graph Icon')
								.w-90.fl.pl3
									.notif__status.b.db.ttu.tracked.main-gray.f8.lh-solid
										span.dib.bg-lightest-gray.pa1.can-be-read está sendo gerado
									h1.notif__title.f5.mt1.can-be-read.theblack Relatório consolidado
									p.notif__date.f6.mt0.can-be-read
										| Requerido às 
										span.notif__hour 17h20
										| , em 
										span.notif__day 17/08/16
								.fl.w-100.pl4.notif__actions.mt3
									span.notif__report-id.fl.f8.b.ttu.tracked.black-20.can-be-read ID 4768987
									<button class="accent bn bg-white fr f8 b ttu tracked">download</button>
							// NOTIF ITEM
							.notif__item.bb.black-20.pa3.fl.w-100
								.notif__icon.w1.fl
									img.db.w-100(src='img/icons/graph-gray.png', alt='Graph Icon')
								.w-90.fl.pl3
									.notif__status.b.db.ttu.tracked.main-gray.f8.lh-solid
										span.dib.bg-lightest-gray.pa1.green.bg-lighter-green.can-be-read está pronto
									h1.notif__title.f5.mt1.can-be-read.theblack Relatório consolidado
									p.notif__date.f6.mt0.can-be-read
										| Requerido às 
										span.notif__hour 17h20
										| , em 
										span.notif__day 17/08/16
								.fl.w-100.pl4.notif__actions.mt3
									span.notif__report-id.fl.f8.b.ttu.tracked.black-20.can-be-read ID 4768987
									button.accent.bn.bg-white.fr.f8.b.ttu.tracked download
							// NOTIF ITEM
							.notif__item.bb.black-20.pa3.fl.w-100
								.notif__icon.w1.fl
									img.db.w-100(src='img/icons/graph-gray.png', alt='Graph Icon')
								.w-90.fl.pl3
									.notif__status.b.db.ttu.tracked.main-gray.f8.lh-solid
										span.dib.bg-lightest-gray.pa1.red.bg-lighter-red.can-be-read não foi possível gerar
									h1.notif__title.f5.mt1.can-be-read.theblack Relatório consolidado
									p.notif__date.f6.mt0.can-be-read
										| Requerido às 
										span.notif__hour 17h20
										| , em 
										span.notif__day 17/08/16
								.fl.w-100.pl4.notif__actions.mt3
									span.notif__report-id.fl.f8.b.ttu.tracked.black-20.can-be-read ID 4768987
									a.accent.bn.bg-white.fr.f8.b.ttu.tracked(href='notifs.html')
										| ver detalhes
						// NOTIF FOOTER
						.fl.w-100.pa3
							a.ttu.fl.lh-copy.pv0.tracked.b.f8.accent.bn.bg-white.has-icon.has-icon-right.icon-arrow-right--blue(href='notifs.html')
								| ver todas as notificações
				h3.f5.b.fl.has-icon.has-icon-right.icon-dropdown NomeDoUsuário
		// MAIN CONTENT
		section.main-content.ph4.pb5.fr
			a.pa0.bn.bg-white.dib.mt4.nl3.fl(href='javascript:history.back()')
				span.ttu.b.tracked.f7.accent.has-icon.has-icon-left.icon-arrow-left--blue voltar
			//SECTION TITLE
			div.fl.w-100
				// ADD MULTIPLE CONTACTS
				div.fl.w-100.mt4.pb5.bb.b--black-50
					h3.fl.black.f3.lh-solid Adicionar contatos
					.fl.w-100.mt4.cl
					// ROW
					// SEARCH AND IMPORT CONTAINER
					.fl.w-100.mw8
						.nl3.nr3
							.fl.w-third.ph3.choose-file.transition
								div.fl
									//- label.fl.f6.black.lh-copy Importe de um arquivo
									form#form-choose-file
										input.dn(type='file', id='import-file', accept='.txt, .csv')
										input.dn(type='reset', id='reset-file')
									label.b.mt2.fl.cl.cta.cta-secondary.dib.w-auto.tr.main-gray(for="import-file")
										span.has-icon.has-icon-left.icon-upload--gray(data-before-chosen="Escolher arquivo", data-after-chosen='Mudar arquivo') Escolher arquivo
									.fr.tr.cl.how-to.mt1.measure-narrow
										//- button.pa0.bg-white.bn.f8.ttu.tracked.b.accent.modal-trigger.trigger--how-to-do veja como fazer	
									.fl.cb.dn.file-name.bg-medium-accent.pa2.mr2.mb2.mt2
										a.has-icon-left.icon-close-blue
										span.f7.accent.b
								//- p.measure-narrow.warning.dn.tl.cb.main-gray.lh-copy.pt2 Ao inserir contatos manualmente, você não pode selecionar um arquivo
							div.fl.w-two-thirds.ph3
									div.fl.w-100
										h3.w-100.theblack.f5.lh-title Formatando seu arquivo
										p.lh-copy.measure-narrow.main-gray.mt3.f6 São aceitos arquivos de até 15mb nos formatos 
											span.b .csv 
											| e 
											span.b .txt
									.nl3.nr3
										div.fl.w-50.ph3.mt3
											div.mt1
												h3.f4.main-gray .csv
												p.mt2.lh-copy.measure-narrow A primeira coluna do seu arquivo deve conter os números de seus contatos e a segunda, o nome deles. A partir da terceira coluna, coloque escolha outros dados que quiser (veja as opções abaixo, na adição de contatos únicos).
												button.mt3.bg-white.bn.f8.ttu.tracked.b.accent veja um exemplo
									.nl3.nr3
										div.fl.w-50.ph3.mt3
											div.mt1
												h3.f4.main-gray .txt
												p.mt2.lh-copy.measure-narrow Sua primeira coluna Use as outras colunas para criar campos dinâmicos e envie mensagens personalizadas para cada um de seus destinatários.
												button.mt3.bg-white.bn.f8.ttu.tracked.b.accent veja um exemplo
						.nl3.nr3
							.fl.w-100.mt4
								div.fl.w-third.ph3
									//- p.lh-copy.measure-narrow São aceitos arquivos de até 15mb nos formatos 
									//- 	span.b.main-gray .csv 
									//- 	| e 
									//- 	span.b.main-gray .txt
								//- div.fl.w-two-thirds.ph3
								//- 	h3.fl.w-100.theblack.f5.lh-title Formatando seu arquivo
								//- 	.nl3.nr3
								//- 		div.fl.w-50.ph3.mt3
								//- 			div.mt1
								//- 				h3.f5.main-gray .csv
								//- 				p.mt2.lh-copy.measure-narrow A primeira coluna do seu arquivo deve conter os números de seus contatos e a segunda, o nome deles. A partir da terceira coluna, coloque escolha outros dados que quiser (veja as opções abaixo, na adição de contatos únicos).
								//- 	.nl3.nr3
								//- 		div.fl.w-50.ph3.mt3
								//- 			div.mt1
								//- 				h3.f5.main-gray .txt
								//- 				p.mt2.lh-copy.measure-narrow Sua primeira coluna Use as outras colunas para criar campos dinâmicos e envie mensagens personalizadas para cada um de seus destinatários.
						// CONFIRM
						div.fl.w-100
							button.dib.fr.mt5.cta.cta-accent(onclick="location.href = 'contatos.html';")
								span.has-icon-left.icon-check--white adicionar contatos				
				// ADD ONE CONTACT
				div.fl.w-100.mt4.mw8
					h3.fl.black.f3.lh-solid Quer adicionar um único contato?
					p.fl.cb.main-gray.mt4.pb2 * Campos obrigatórios
					// INFOS CONTAINER
					.fl.w-100.mt4.cl
						// ROW
						.nr3.nl3
							.fl.w-100
								// NAME
								.fl.w-third.ph3.relative
									input.input--inline(type='text')
									label Nome*
									p.f7.mt2.tr.black-20.input__validation Validação
								// PHONE
								.fl.w-third.ph3.relative
									input.input--inline(type='text')
									label Celular*
									p.f7.mt2.tr.black-20.input__validation Validação
								// STATE AND CITY
								.fl.w-third.ph3.relative.inputs--cell.input-with-select
										// STATE
										div.fl.w-20.input--inline--dropdown
											// Editable information
											div.fl.w-100.input.input--inline.pointer.input--state
												span.db.has-icon-right.icon-dropdown --
											.dropdown.content-box
												label.dib.mt1.lh-copy.black-50 Estado
												ul.pt0.pb1.pl0
													li
														span --
													li
														span SP
													li
														span RJ
													li
														span SC
													li
														span PE
													li
														span AM
													li
														span MG
										// CITY
										div.fl.w-80.input--inline--dropdown
											// Editable information
											div.fl.w-100.input.input--inline.pointer.input--city
												span.db.has-icon-right.icon-dropdown Escolha a cidade
											.dropdown.content-box
												label.dib.mt1.lh-copy.black-50 Cidade
												input.mt2
												ul.pt0.pb1.pl0.mt2
													li
														span Não informada
													li
														span São Paulo
													li
														span Campinas
													li
														span Ribeirão Preto
													li
														span São Carlos
													li
														span Sorocaba
													li
														span Mococa
										label.label--active Estado e Cidade
										p.f7.mt2.tr.black-20.input__validation.dn Validação
						// ROW
						.nr3.nl3
							.fl.w-100.mt5
								// EMAIL
								.fl.w-third.ph3.relative
									input.input--inline(type='email')
									label Email
									p.f7.mt2.tr.black-20.input__validation Validação
								// COMPANY
								.fl.w-third.ph3.relative
									input.input--inline(type='text')
									label Empresa
									p.f7.mt2.tr.black-20.input__validation Validação
								// GENDER
								.fl.w-third.ph3.relative.inputs--cell.input-with-select
										div.fl.w-100.input--inline--dropdown
											// Editable information
											div.fl.w-100.input.input--inline.pointer
												span.db.has-icon-right.icon-dropdown Escolha
											.dropdown.content-box
												label.dib.mt1.lh-copy.black-50 Gênero
												ul.pt0.pb1.pl0
													li
														span Feminino
													li
														span Masculino
													li.input-inside-list
														label.black.normal Outro
														input.input--inline
														div.tr
															button.mt2.ttu.b.f8.tracked.accent(type='button') confirmar
													li
														span Não informado
										label.label--active Gênero
										p.f7.mt2.tr.black-20.input__validation.dn Validação
						// ROW
						.nr3.nl3
							.fl.w-100.mt5
								// BIRTHDAY
								.fl.w-third.ph3.relative
									input.input--inline(type='text')
									label Aniversário
									p.f7.mt2.tr.black-20.input__validation Validação
								// CPF/CNPJ
								.fl.w-third.ph3.relative
									input.input--inline(type='text')
									label CPF/CNPJ
									p.f7.mt2.tr.black-20.input__validation Validação
								// NICKNAME
								.fl.w-third.ph3.relative
									input.input--inline(type='text')
									label Apelido
									p.f7.mt2.tr.black-20.input__validation Validação	
						// ROW
						.nr3.nl3
							.fl.w-100.mt5
								// GROUPS
								.fl.w-third.ph3.relative.inputs--cell.input-with-select.has-dropdown
									div.fl.w-100.input--inline--dropdown
										// Editable information
										div.fl.w-100.input.input--inline.pointer.insert-criteria.view-box-close
											span.db.has-icon-right.icon-dropdown.group-span Pertence a algum?
										//- span.f6.theblack.b.pr5.bb.relative.has-icon-right.icon-dropdown.insert-criteria.view-box-close.pointer.fl Operadora
										.view-box-open.bg-white.z-3.o-0
											.dropdown-item-box.dropdown.dropdown--allows-empty(data-empty-text='Pertence a algum?')
												div.pb3
													label.dib.mt1.lh-copy.black-50 Grupos
													input.mt2
													div.mt2
													.relative.pv2
														div.checkbox
															//- input#group00.dropdown-checkbox.dn(type='checkbox', name='operadora', value='Grupo 01', checked)
															input#group01.dropdown-checkbox(type='checkbox', name='operadora', value='Grupo 01')
															label.f6.b.accent-hover.relative(for='group01') Grupo 01
													.relative.pv2
														div.checkbox
															input#group02.dropdown-checkbox(type='checkbox', name='campanha', value='Grupo 02')
															label.f6.b.accent-hover.relative(for='group02') Grupo 02
													.relative.pv2
														div.checkbox
															input#group03.dropdown-checkbox(type='checkbox', name='cliente', value='Grupo 03')
															label.f6.b.accent-hover.relative(for='group03') Grupo 03
													.relative.pv2
														div.checkbox
															input#group04.dropdown-checkbox(type='checkbox', name='subconta', value='Grupo 04')
															label.f6.b.accent-hover.relative(for='group04') Grupo 04
													.relative.pv2
														div.checkbox
																input#group05.dropdown-checkbox(type='checkbox', name='usuario', value='Grupo 05')
																label.f6.b.accent-hover.relative(for='group05') Grupo 05
									label.label--active Grupos
								// COMMENTS
								.fl.w-third.ph3.relative.inputs--cell
									textarea.input.input--inline.f6.lh-copy.ba.b--black-20.b.mt3.h4 
									label.label--active Comentários
										p.f7.mt2.tr.black-20.input__validation.dn Validação
					// CONFIRM
					div.fl.w-100
						button.dib.fr.mt5.cta.cta-accent(onclick="location.href = 'contatos.html';")
							span.has-icon-left.icon-check--white adicionar contato

	// jQuery
	script(src='js/jquery-3.1.0.min.js')
	// Filters
	script(src='js/forms.js')
	// Notifications
	script(src='js/notifs.js')
	// Send New
	script(src='js/novoenvio.js')
	// Modal
	script(src='js/modal.js')
