doctype html
html(lang='pt-br')
	head
		meta(charset='UTF-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Movile Messaging – Contatos
		meta(name='movile-messaging', content='Movile Messaging')
		// For the charts
		link(href='charts/chartist.min.css', rel='stylesheet')
		script(src='charts/chartist.min.js', charset='utf-8')
		// Tachyons CSS
		link(rel='stylesheet', href='stylesheets/tachyons.min.css')
		// Main CSS
		link(rel='stylesheet', href='stylesheets/main.css')
		// Typekit
		script(src='https://use.typekit.net/fja4naa.js')
		script.
			try{Typekit.load({ async: false });}catch(e){}
		style.
			.table-operadora, .table-subconta, .table-inicio{display:none;}
	body
		aside.fixed.fl.h-100.bg-sidebar
			.bb.b--black-10
				.pl4.mt4.pb3.w4
					a(href="dashboard.html").db.w-90
						img.db(src='img/logo-white.png', alt='Logo Movile Messaging')
			nav.pl4.mt4
				ul.list.pl0.mt3
					li.mt3
						a.white.dim.f6(href='dashboard.html') Dashboard
					li.mt3
						a.white.dim.f6(href='novo-envio.html') Novo envio
					li.mt3
						a.white.dim.f6(href='relatorios-consolidados.html') Relatórios
					li.mt3
						a.white.dim.f6(href='') Contatos
					li.mt3
						a.white.dim.f6(href='permissoes.html') Permissões
					li.mt3
						a.white.dim.f6(href='conta.html') Sua conta
					li.mt3
						a.white.dim.f6(href='') Suporte
		section.upper-bar.flex.justify-between.items-end.fr.ph4.pt4.pb3.bb.b--black-10
			h1.f2.fl.theblack.lh-solid Contatos
			.fr.lh-copy.relative
				.relative.mr4.fl
					a.upper-bar-menu.f5.b.has-icon.has-icon-left.icon-notif__gray Notificações
					.absolute.top--1.right--1
						.relative
							span.notification-badge 275
					// NOTIFICATIONS
					.dropdown.notifications
						// NOTIF HEADER
						.fl.w-100.pa3.bb.black-20
							button.mark-all-as-read.ttu.fr.lh-copy.pv0.pr0.tracked.b.f8.main-gray.bn.bg-white.has-icon.has-icon-left.icon-check--gray.outline-0 marcar todas como lidas
						// NOTIFS BODY
						.fl.w-100
							// NOTIF ITEM
							.notif__item.bb.black-20.pa3.fl.w-100
								.notif__icon.w1.fl
									img.db.w-100(src='img/icons/graph-gray.png', alt='Graph Icon')
								.w-90.fl.pl3
									.notif__status.b.db.ttu.tracked.main-gray.f8.lh-solid
										span.dib.bg-lightest-gray.pa1.can-be-read está sendo gerado
									h1.notif__title.f5.mt1.can-be-read.theblack Relatório consolidado
									p.notif__date.f6.mt0.can-be-read
										| Requerido às 
										span.notif__hour 17h20
										| , em 
										span.notif__day 17/08/16
								.fl.w-100.pl4.notif__actions.mt3
									span.notif__report-id.fl.f8.b.ttu.tracked.black-20.can-be-read ID 4768987
									<button class="accent bn bg-white fr f8 b ttu tracked">download</button>
							// NOTIF ITEM
							.notif__item.bb.black-20.pa3.fl.w-100
								.notif__icon.w1.fl
									img.db.w-100(src='img/icons/graph-gray.png', alt='Graph Icon')
								.w-90.fl.pl3
									.notif__status.b.db.ttu.tracked.main-gray.f8.lh-solid
										span.dib.bg-lightest-gray.pa1.green.bg-lighter-green.can-be-read está pronto
									h1.notif__title.f5.mt1.can-be-read.theblack Relatório consolidado
									p.notif__date.f6.mt0.can-be-read
										| Requerido às 
										span.notif__hour 17h20
										| , em 
										span.notif__day 17/08/16
								.fl.w-100.pl4.notif__actions.mt3
									span.notif__report-id.fl.f8.b.ttu.tracked.black-20.can-be-read ID 4768987
									button.accent.bn.bg-white.fr.f8.b.ttu.tracked download
							// NOTIF ITEM
							.notif__item.bb.black-20.pa3.fl.w-100
								.notif__icon.w1.fl
									img.db.w-100(src='img/icons/graph-gray.png', alt='Graph Icon')
								.w-90.fl.pl3
									.notif__status.b.db.ttu.tracked.main-gray.f8.lh-solid
										span.dib.bg-lightest-gray.pa1.red.bg-lighter-red.can-be-read não foi possível gerar
									h1.notif__title.f5.mt1.can-be-read.theblack Relatório consolidado
									p.notif__date.f6.mt0.can-be-read
										| Requerido às 
										span.notif__hour 17h20
										| , em 
										span.notif__day 17/08/16
								.fl.w-100.pl4.notif__actions.mt3
									span.notif__report-id.fl.f8.b.ttu.tracked.black-20.can-be-read ID 4768987
									a.accent.bn.bg-white.fr.f8.b.ttu.tracked(href='notifs.html')
										| ver detalhes
						// NOTIF FOOTER
						.fl.w-100.pa3
							a.ttu.fl.lh-copy.pv0.tracked.b.f8.accent.bn.bg-white.has-icon.has-icon-right.icon-arrow-right--blue(href='notifs.html')
								| ver todas as notificações
				h3.f5.b.fl.has-icon.has-icon-right.icon-dropdown NomeDoUsuário
		// MAIN CONTENT
		section.main-content.ph4.pb5.fr
			a.pa0.bn.bg-white.dib.mt4.fl(onclick='goBack()')
				span.ttu.b.tracked.f7.accent.has-icon.has-icon-left.icon-arrow-left--blue voltar
			// INFOS - TITLE AND ACTION BUTTONS
			div.fl.w-100
				form.fl.w-100.mt4.inputs-infos.inputs-infos__group
					div.fl.w-100
						div.fl
							h3.theblack.f4.lh-solid Informações gerais
							p.main-gray.lh-copy.mt2 Criado em 17/06/2016
						div.fr
							button.accent.ttu.b.tracked.mr3.has-icon-left.icon-blacklist.f7(type='button') inserir na blacklist
							button.cta(type='button')
								span.has-icon-left.icon-edit--blue.input--edit editar
					// INFOS - CONTENT
					div.fl.w-100.mt2
						// NAME
						div.fl.w-100.cb.mt4.mb3.name-input
							.fl.w-33.ph0.relative.inputs--cell
								p.input--disabled.f3.b.lh-title André Matiazzo
								input.input--inline.dn.f3(type='text' value='André Matiazzo')
								label Nome*
								p.f7.mt2.tr.black-20.input__validation.dn Validação
						//COLUMNS – OTHER INFOS
						div.fl.w-100.mt4
							// FIRST COLUMN
							div.fl.w-33
								// CITY AND STATE
								.fl.w-100.ph0.relative.inputs--cell.input-with-select
									p.input.input--disabled Cidade e estado
									input.input--inline.dn(type='text' value='Cidade e estado')
									label Cidade e estado
									p.f7.mt2.tr.black-20.input__validation.dn Validação
								// NAME
								.fl.w-100.ph0.relative.inputs--cell.mt5
									p.input.input--disabled André Matiazzo
									input.input--inline.dn(type='text' value='André Matiazzo')
									label Nome*
									p.f7.mt2.tr.black-20.input__validation.dn Validação

			
		// MODAL BOILERPLATE
		div.dn.modal.bg-black-50.fixed.vh-100.left-0.right-0.o-0.z-5
			// ARE YOU SURE?
			.modal__body.modal--delete.bg-white.w-auto.mw6.center.mt6.pt4.ph4.dn
				//- button.close-modal.pa0.bn.bg-white.accent.ttu.tracked.b.f7.lh-copy.has-icon-left.icon-close-blue.db fechar
				div
					h2.f4 Quer remover essa permissão?
					div.mt4.pb4.tr
						button.pa0.bn.bg-white.pointer.main-gray.ttu.tracked.f7.b.mr3.close-modal(type='button') cancelar
						button.pa0.bn.bg-white.pointer.accent.ttu.tracked.f7.b.input--yes-delete(type='button') sim, remover
						
	// jQuery
	script(src='js/jquery-3.1.0.min.js')
	script.
		$('.dropdown-checkbox').click(function() {
			var length = $(this).parents(".dropdown-item-box").find(".dropdown-checkbox:checked").length;
			if (length == 0) {
				$(this).prop('checked', true);
			}
			var selected = $('.dropdown-checkbox:checked').map(function() {
			    return this.value;
			}).get().join(', ');
			$(this).parents(".has-dropdown").find(".insert-criteria").text(selected);
		});

	// Filters
	script(src='js/forms.js')
	// Notifications
	script(src='js/notifs.js')
	// Modal
	script(src='js/modal.js')
