doctype html
html(lang='pt-br')
	head
		meta(charset='UTF-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Movile Messaging – Contatos
		meta(name='movile-messaging', content='Movile Messaging')
		// For the charts
		link(href='charts/chartist.min.css', rel='stylesheet')
		script(src='charts/chartist.min.js', charset='utf-8')
		// Tachyons CSS
		link(rel='stylesheet', href='stylesheets/tachyons.min.css')
		// Main CSS
		link(rel='stylesheet', href='stylesheets/main.css')
		// Typekit
		script(src='https://use.typekit.net/fja4naa.js')
		script.
			try{Typekit.load({ async: false });}catch(e){}
		style.
			.table-operadora, .table-subconta, .table-inicio{display:none;}
	body
		aside.fixed.fl.h-100.bg-sidebar
			.bb.b--black-10
				.pl4.mt4.pb3.w4
					a(href="dashboard.html").db.w-90
						img.db(src='img/logo-white.png', alt='Logo Movile Messaging')
			nav.pl4.mt4
				ul.list.pl0.mt3
					li.mt3
						a.white.dim.f6(href='dashboard.html') Dashboard
					li.mt3
						a.white.dim.f6(href='novo-envio.html') Novo envio
					li.mt3
						a.white.dim.f6(href='relatorios-consolidados.html') Relatórios
					li.mt3
						a.white.dim.f6.bb.bw1(href='contatos.html') Contatos
					li.mt3
						a.white.dim.f6(href='permissoes.html') Permissões
					li.mt3
						a.white.dim.f6(href='conta.html') Sua conta
					li.mt3
						a.white.dim.f6(href='') Suporte
		section.upper-bar.flex.justify-between.items-end.fr.ph4.pt4.pb3.bb.b--black-10
			h1.f2.fl.theblack.lh-solid Contatos
			.fr.lh-copy.relative
				.relative.mr4.fl
					a.upper-bar-menu.f5.b.has-icon.has-icon-left.icon-notif__gray.pointer Notificações
					.absolute.top--1.right--1
						.relative
							span.notification-badge 275
					// NOTIFICATIONS
					.dropdown.notifications
						// NOTIF HEADER
						.fl.w-100.pa3.bb.black-20
							button.mark-all-as-read.ttu.fr.lh-copy.pv0.pr0.tracked.b.f8.main-gray.bn.bg-white.has-icon.has-icon-left.icon-check--gray.outline-0 marcar todas como lidas
						// NOTIFS BODY
						.fl.w-100
							// NOTIF ITEM
							.notif__item.bb.black-20.pa3.fl.w-100
								.notif__icon.w1.fl
									img.db.w-100(src='img/icons/graph-gray.png', alt='Graph Icon')
								.w-90.fl.pl3
									.notif__status.b.db.ttu.tracked.main-gray.f8.lh-solid
										span.dib.bg-lightest-gray.pa1.can-be-read está sendo gerado
									h1.notif__title.f5.mt1.can-be-read.theblack Relatório consolidado
									p.notif__date.f6.mt0.can-be-read
										| Requerido às 
										span.notif__hour 17h20
										| , em 
										span.notif__day 17/08/16
								.fl.w-100.pl4.notif__actions.mt3
									span.notif__report-id.fl.f8.b.ttu.tracked.black-20.can-be-read ID 4768987
									<button class="accent bn bg-white fr f8 b ttu tracked">download</button>
							// NOTIF ITEM
							.notif__item.bb.black-20.pa3.fl.w-100
								.notif__icon.w1.fl
									img.db.w-100(src='img/icons/graph-gray.png', alt='Graph Icon')
								.w-90.fl.pl3
									.notif__status.b.db.ttu.tracked.main-gray.f8.lh-solid
										span.dib.bg-lightest-gray.pa1.green.bg-lighter-green.can-be-read está pronto
									h1.notif__title.f5.mt1.can-be-read.theblack Relatório consolidado
									p.notif__date.f6.mt0.can-be-read
										| Requerido às 
										span.notif__hour 17h20
										| , em 
										span.notif__day 17/08/16
								.fl.w-100.pl4.notif__actions.mt3
									span.notif__report-id.fl.f8.b.ttu.tracked.black-20.can-be-read ID 4768987
									button.accent.bn.bg-white.fr.f8.b.ttu.tracked download
							// NOTIF ITEM
							.notif__item.bb.black-20.pa3.fl.w-100
								.notif__icon.w1.fl
									img.db.w-100(src='img/icons/graph-gray.png', alt='Graph Icon')
								.w-90.fl.pl3
									.notif__status.b.db.ttu.tracked.main-gray.f8.lh-solid
										span.dib.bg-lightest-gray.pa1.red.bg-lighter-red.can-be-read não foi possível gerar
									h1.notif__title.f5.mt1.can-be-read.theblack Relatório consolidado
									p.notif__date.f6.mt0.can-be-read
										| Requerido às 
										span.notif__hour 17h20
										| , em 
										span.notif__day 17/08/16
								.fl.w-100.pl4.notif__actions.mt3
									span.notif__report-id.fl.f8.b.ttu.tracked.black-20.can-be-read ID 4768987
									a.accent.bn.bg-white.fr.f8.b.ttu.tracked(href='notifs.html')
										| ver detalhes
						// NOTIF FOOTER
						.fl.w-100.pa3
							a.ttu.fl.lh-copy.pv0.tracked.b.f8.accent.bn.bg-white.has-icon.has-icon-right.icon-arrow-right--blue(href='notifs.html')
								| ver todas as notificações
				h3.f5.b.fl.has-icon.has-icon-right.icon-dropdown NomeDoUsuário
		// MAIN CONTENT
		section.main-content.ph4.pb5.fr
			a.pa0.bn.bg-white.dib.mt4.nl3.fl(href='javascript:history.back()')
				span.ttu.b.tracked.f7.accent.has-icon.has-icon-left.icon-arrow-left--blue voltar
			// INFOS - TITLE AND ACTION BUTTONS
			div.fl.w-100
				form.fl.w-100.mt4.inputs-infos.inputs-infos__group
					div.fl.w-100
						div.fl
							h3.theblack.f4.lh-solid Informações gerais
							p.main-gray.lh-copy.mt2 Criado em 17/06/2016
						div.fr
							button.accent.ttu.b.tracked.mr3.f7.input--blacklist(type='button')
								span.has-icon-left.icon-blacklist.lh-solid inserir na blacklist
							button.cta.input--edit(type='button')
								span.has-icon-left.icon-edit--blue editar
							button.cta.input--confirm.dn(type='button')
								span.has-icon-left.icon-check salvar
							p.white.bg-green.ttu.b.tracked.pa3.f7.input--saved.transition.lh-copy.ba.b--transparent.dn
								span.has-icon-left.icon-check--white salvo
					// INFOS - CONTENT
					div.nl3.nr3
						div.fl.w-100.mt2.mw8
							// NAME
							div.fl.w-100.cb.mt4.name-input
								.fl.w-third.ph3.relative.inputs--cell
									p.input--disabled.f3.b.lh-title.relative.contact-name.dib André Matiazzo
									input.input--inline.dn.f3(type='text' value='André Matiazzo')
									label Nome*
									p.f7.mt2.tr.black-20.input__validation.dn Validação
							//OTHER INFOS
							div.fl.w-100.mt5
								// ROW
								div.fl.w-100.cb
									// PHONE
									.fl.w-third.ph3.relative.inputs--cell
										p.input.input--disabled 19996587867
										input.input--inline.dn(type='text' value='19996587867')
										label Celular*
										p.f7.mt2.tr.black-20.input__validation.dn Validação
									// STATE AND CITY
									.fl.w-third.ph3.relative.inputs--cell.input-with-select
										// STATE
										div.fl.w-20.input--inline--dropdown
											// Read-only informations
											p.fl.w-100.b.input--disabled.input--state
												span.dib.fl.w-100 --
											// Editable information
											div.fl.w-100.input.input--inline.pointer.input--state.dn 
												span.db.has-icon-right.icon-dropdown --
											.dropdown.content-box
												label.dib.mt1.lh-copy.black-50 Estado
												ul.pt0.pb1.pl0
													li
														span --
													li
														span SP
													li
														span RJ
													li
														span SC
													li
														span PE
													li
														span AM
													li
														span MG
										// CITY
										div.fl.w-80.input--inline--dropdown
											// Read-only informations
											p.fl.w-100.b.input--disabled.input--city Não informada
											// Editable information
											div.fl.w-100.input.input--inline.pointer.input--city.dn
												span.db.has-icon-right.icon-dropdown Não informada
											.dropdown.content-box
												label.dib.mt1.lh-copy.black-50 Cidade
												input.mt2
												ul.pt0.pb1.pl0.mt2
													li
														span Não informada
													li
														span São Paulo
													li
														span Campinas
													li
														span Ribeirão Preto
													li
														span São Carlos
													li
														span Sorocaba
													li
														span Mococa
										label.label--active Estado e Cidade
										p.f7.mt2.tr.black-20.input__validation.dn Validação
									// EMAIL
									.fl.w-third.ph3.relative.inputs--cell
										p.input.input--disabled andre.matiazzo@movile.com
										input.input--inline.dn(type='text' value='andre.matiazzo@movile.com')
										label Email
										p.f7.mt2.tr.black-20.input__validation.dn Validação
								// ROW
								div.fl.w-100.cb.mt5
									// COMPANY
									.fl.w-third.ph3.relative.inputs--cell
										// Read-only informations
										p.input.input--disabled Não informada
										input.input--inline.dn(type='text' value='Não informada')
										label Empresa
										p.f7.mt2.tr.black-20.input__validation.dn Validação
									// GENDER
									.fl.w-third.ph3.relative.inputs--cell.input-with-select
										div.fl.w-100.input--inline--dropdown
											// Read-only informations
											p.fl.w-100.b.input--disabled.pointer Masculino
											// Editable information
											div.fl.w-100.input.input--inline.pointer.dn
												span.db.has-icon-right.icon-dropdown Masculino
											.dropdown.content-box
												label.dib.mt1.lh-copy.black-50 Gênero
												ul.pt0.pb1.pl0
													li
														span Feminino
													li
														span Masculino
													li.input-inside-list
														label.black-50.normal Outro
														input.input--inline
														div.tr
															button.mt2.ttu.b.f8.tracked.accent(type='button') confirmar
										label.label--active Gênero
										p.f7.mt2.tr.black-20.input__validation.dn Validação
									// BIRTHDAY
									.fl.w-third.ph3.relative.inputs--cell
										p.input.input--disabled 11/01/1991
										input.input--inline.dn(type='text' value='11/01/1991')
										label Aniversário
										p.f7.mt2.tr.black-20.input__validation.dn Validação
								// ROW
								div.fl.w-100.cb.mt5
									// CPF/CNPJ
									.fl.w-third.ph3.relative.inputs--cell
										p.input.input--disabled 355.098.099-45
										input.input--inline.dn(type='text' value='355.098.099-45')
										label CPF/CNPJ
										p.f7.mt2.tr.black-20.input__validation.dn Validação
									// NICKNAME
									.fl.w-third.ph3.relative.inputs--cell
										p.input.input--disabled Mat
										input.input--inline.dn(type='text' value='Mat')
										label Apelido
										p.f7.mt2.tr.black-20.input__validation.dn Validação	
									// GROUPS
									.fl.w-third.ph3.relative.inputs--cell.input-with-select.has-dropdown
										div.fl.w-100.input--inline--dropdown
											// Read-only informations
											p.fl.w-100.b.input--disabled.pointer Nenhum
											// Editable information
											div.fl.w-100.input.input--inline.pointer.insert-criteria.view-box-close.dn
												span.db.has-icon-right.icon-dropdown Nenhum
											//- span.f6.theblack.b.pr5.bb.relative.has-icon-right.icon-dropdown.insert-criteria.view-box-close.pointer.fl Operadora
											.view-box-open.bg-white.z-3.o-0
												.dropdown-item-box.dropdown.dropdown--allows-empty
													div.pb3
														label.dib.mt1.lh-copy.black-50 Grupos
														input.mt2
														.relative.pv2
															div.checkbox
																input#group00.dropdown-checkbox.dn(type='checkbox', name='operadora', value='Grupo 01', checked)
																input#group01.dropdown-checkbox(type='checkbox', name='operadora', value='Grupo 01')
																label.f6.b.accent-hover.relative(for='group01') Grupo 01
														.relative.pv2
															div.checkbox
																input#group02.dropdown-checkbox(type='checkbox', name='campanha', value='Grupo 02')
																label.f6.b.accent-hover.relative(for='group02') Grupo 02
														.relative.pv2
															div.checkbox
																input#group03.dropdown-checkbox(type='checkbox', name='cliente', value='Grupo 03')
																label.f6.b.accent-hover.relative(for='group03') Grupo 03
														.relative.pv2
															div.checkbox
																input#group04.dropdown-checkbox(type='checkbox', name='subconta', value='Grupo 04')
																label.f6.b.accent-hover.relative(for='group04') Grupo 04
														.relative.pv2
															div.checkbox
																input#group05.dropdown-checkbox(type='checkbox', name='usuario', value='Grupo 05')
																label.f6.b.accent-hover.relative(for='group05') Grupo 05
										label.label--active Grupos
								// ROW
								div.fl.w-100.cb.mt5
									// COMMENTS
									.fl.w-third.ph3.relative.inputs--cell
										p.input.input--disabled Lembrar que essa pessoa é um diretor de uma das nossas maiores investidas. Não mande muitas coisas com frequência.
										textarea.input.input--inline.dn.f6.lh-copy.ba.b--black-20.b.pa2.mt3.h4 Lembrar que essa pessoa é um diretor de uma das nossas maiores investidas. Não mande muitas coisas com frequência.
										label Comentários
										p.f7.mt2.tr.black-20.input__validation.dn Validação
			// HISTORY
			div.fl.w-100.mt6
				div.fl.w-100
					div.fl
						h3.theblack.f4.lh-solid Histórico de envio
					button.fr.cta
						span.has-icon-left.icon-download Download
				// TABLE
				.fl.w-100.relative
					div.w-90.overflow-x-scroll
						table.mt4.mb4.tl.v-top.w-100(cellspacing='0', cellpadding='0')
							thead.v-top
								tr.ttu.f8.theblack.b.tl.tracked
									th.bb.nowrap.table-month
										span.pv2.pr3.db Month
									th.bb.nowrap.w-4.table-campaign
										span.pv2.pr3.db Campaign
									th.bb.nowrap.w-4.table-concluded
										span.pv2.pr3.db Concluded
									th.bb.nowrap.w-4.table-scheduled
										span.pv2.pr3.db Scheduled
									th.bb.nowrap.w-4.table-sent
										span.pv2.pr3.db Sent
									th.bb.nowrap.w-4.table-Errors
										span.pv2.pr3.db Errors
									th.bb.nowrap.w-4.table-sending-start
										span.pv2.pr3.db Sending start
									th.nowrap.table-customer
							tbody.v-top
								tr.bb.relative.f6
									td.nowrap.f6.bb.b--black-20.table-month
										span.db.pv4.pr3.lh-solid December
									td.nowrap.f6.bb.b--black-20.table-campaign
										span.db.pv4.pr3.lh-solid Mother's day 2017
									td.nowrap.f6.bb.b--black-20.table-concluded
										span.db.pv4.pr3.lh-solid 80%
									td.nowrap.f6.bb.b--black-20.table-scheduled
										span.db.pv4.pr3.lh-solid 9.5 MM
									td.nowrap.f6.bb.b--black-20.table-sent
										span.db.pv4.pr3.lh-solid 5.5 MM
									td.nowrap.f6.bb.b--black-20.table-Errors
										span.db.pv4.pr3.lh-solid 2.0 MM
									td.nowrap.f6.bb.b--black-20.table-sending-start
										span.db.pv4.pr3.lh-solid 24/01/2017 10:28
					table.w-10.h-100.mt4.mb4.tl.v-top.absolute.top-0.right-0.bg-white(cellspacing='0', cellpadding='0')
						thead.v-top
							tr.pv3.b--black.bb.ttu.f8.theblack.b.tl.tracked
								th.bb.pv2.pl3.table-detalhes
									a.accent(href='javascript:') Ações
						tbody.v-top
							tr.bb.relative.f6
								td.bb.b--black-20.pv4.ph3.table-detalhes.left-shadow.lh-solid
									a.accent.ttu.tracked.b.f8.has-icon-left.icon-eye-blue(href='javascript:', alt='Download') visualizar
							
	// jQuery
	script(src='js/jquery-3.1.0.min.js')
	// Filters
	script(src='js/forms.js')
	// Notifications
	script(src='js/notifs.js')
	// Modal
	script(src='js/modal.js')
