doctype html
html(lang='pt-br')
	head
		meta(charset='UTF-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Movile Messaging – Login
		meta(name='movile-messaging', content='Movile Messaging')
		// For the charts
		link(href='charts/chartist.min.css', rel='stylesheet')
		script(src='charts/chartist.min.js', charset='utf-8')
		// Tachyons CSS
		link(rel='stylesheet', href='stylesheets/tachyons.min.css')
		// Main CSS
		link(rel='stylesheet', href='stylesheets/main.css')
		// Typekit
		script(src='https://use.typekit.net/fja4naa.js')
		script.
			try{Typekit.load({ async: false });}catch(e){}

	body.bg-accent.min#login
		// MAIN CONTENT
		div#particles-js.vh-100
		section.main-content.ph4.pb5.fr(style="margin-left: 200px;")
			div.absolute.w-100.mw8(style="top: 45%; transform: translateY(-50%)")
				img.db.mw4(src='img/logo-white.png', alt='Logo Movile Messaging')
				form.pv3.relative.mt3
					.nl3.nr3
						.w-third.relative.ph3
							input.input.input--inline.white(type='email')
							label.black-50 Email
							//- p.f7.mt2.tr.black-20.input__validation Validação
						.w-third.relative.ph3.mt4
							input.input.input--inline.white(type='text')
							label.black-50 Senha
							//- p.f7.mt2.tr.black-20.input__validation Validação
						div.ph3.w-third.mt4.pt3
							a.ttu.white-70.tracked.b.f7.dib.pv3(href="javascript:;") esqueci a senha
							button.cta.fr entrar
						
						
	// jQuery
	script(src='js/jquery-3.1.0.min.js')
	// Filters
	script(src='js/forms.js')
	// Particles
	script(src='js/particles/particles.min.js')
	script(src='js/particles/app.js')
	

