doctype html
html(lang='pt-br')
	head
		meta(charset='UTF-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Movile Messaging – Novo envio
		meta(name='movile-messaging', content='Movile Messaging')
		// For the calendar
		link(href='calendar/jquery-ui/jquery-ui.min.css', rel='stylesheet')
		link(href='calendar/jquery.comiseo.daterangepicker.css', rel='stylesheet')
		// For the charts
		link(href='charts/chartist.min.css', rel='stylesheet')
		script(src='charts/chartist.min.js', charset='utf-8')
		// Tachyons CSS
		link(rel='stylesheet', href='stylesheets/tachyons.min.css')
		// Main CSS
		link(rel='stylesheet', href='stylesheets/main.css')
		// Typekit
		script(src='https://use.typekit.net/fja4naa.js')
		script.
			try {
			Typekit.load({
			async: false
			});
			} catch (e) {}
		style.
			.table-operadora,
			.table-subconta,
			.table-inicio {
			display: none;
			}
	body
		aside.fl.h-100.bg-sidebar
			.bb.b--black-10
				.pl4.mt4.pb3.w4
					img.db.w-90(src='img/logo-white.png', alt='Logo Movile Messaging')
			//
				<nav class="pl4 mt4">
				<ul class="list pl0">
				<li class="mt3">
				<a class="white dim f6" href="">Dashboard</a>
				</li>
				<li class="mt3">
				<a class="white dim f6" href="">Novo envio</a>
				</li>
				<li class="mt3">
				<a class="white dim f6 bb bw1" href="">Relatórios</a>
				</li>
				<li class="mt3">
				<a class="white dim f6" href="">Contatos</a>
				</li>
				<li class="mt3">
				<a class="white dim f6" href="">Configurações</a>
				</li>
				<li class="mt3">
				<a class="white dim f6" href="">Suporte</a>
				</li>
				</ul>
				</nav>
		section.upper-bar.flex.justify-between.items-end.fr.ph4.pt4.pb3.bg-darker-accent.bb.b--black-10
			h1.f2.fl.white Novo envio
			.fr.lh-copy.relative
				a.white.ttu.tracked.f7.b.fl(href="javascript:;") salvar e sair
		// MAIN CONTENT
		section.main-content.ph4.fr
			// RECIPIENTS
			div.fl.w-100.bb.b--black-20
				div.fl.w-100.pt4.pb6.mw8
					h3.fl.black.f3.lh-solid Escolha quem vai receber
					.fl.w-100.mt4.cl
						// FIRST HALF OF THE GRID
						.fl.w-50.pr5.search-input.transition
							div.fl.w-100.relative
								label.f6.black.lh-copy Busque por cadastrados ou digite novos números
								.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input
									span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap
								p.main-gray.tr.lh-copy.mt1 Separe novos números por vírgulas
								.dropdown.dropdown--multiple-lists.content-box.nl3.nr3
									label.black-50.f6.lh-copy.black Busque por cadastrados ou digite novos números
									input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
									div.fl.w-50.mt3.pb3
										span.main-gray.db.f6 Grupos
									div.fl.w-50.mt3.pb3
										span.main-gray.db.f6 Contatos
									div.fl.w-100.multiple-lists__container
										div.fl.w-50
											ul.pt0.pb1.pl0
												li
													span.b Bruno Farias
												li
													span.b Nayara Rodrigues
												li
													span.b Neto Andrade
												li
													span Hudson Souza
												li
													span Edson Koji
												li
													span Henrique Perticarati
												li
													span Juliana Gaspari
										div.fl.w-50
											ul.pt0.pb1.pl0
												li
													span.b Bruno Farias
												li
													span.b Nayara Rodrigues
												li
													span.b Neto Andrade
												li
													span Hudson Souza
												li
													span Edson Koji
												li
													span Henrique Perticarati
												li
													span Juliana Gaspari
						// SECOND HALF OF THE GRID
						.fl.w-50.pl5.choose-file
							div.fl
								label.fl.f6.black.lh-copy Ou importe de um arquivo
								form#form-choose-file
									input.dn(type='file', id='import-file', accept='.txt, .csv')
									input.dn(type='reset', id='reset-file')
								label.b.mt2.fl.cl.cta.cta-secondary.dib.w-auto.tr.main-gray(for="import-file")
									span.has-icon.has-icon-left.icon-upload(data-before-chosen="Escolher arquivo", data-after-chosen='Mudar arquivo') Escolher arquivo
								div.fl.tr.cl.mt2
									a.f7.ttu.tracked.b.accent.how-to(href="javascript:") veja como fazer
									div.has-tooltip
										a.dn.f7.ttu.theblack.tracked.b.file-name.has-icon-left.icon-close-blue.has-tooltip
										div.tooltip Cancelar arquivo
									//- p.main-gray.tr.lh-copy.mt1 Separe novos números por vírgulas
			// MESSAGE
			div.fl.w-100.bb.b--black-20
				div.fl.w-100.pt4.pb5.mw8
					h3.fl.black.f3.lh-solid Escreva sua mensagem
					.fl.w-100.mt4.cl
						// FIRST HALF OF THE GRID
						.fl.w-50.pr5
							p.main-gray.lh-copy Use campos personalizados para enviar mensagens personalizadas aos seus contatos (eles vieram do arquivo importado por você):
							.mt3
								ul.list.pl0
									li.bg-medium-accent.f7.b.accent.fl.lh-title.pa2.mr2.mb2
										span.has-icon.has-icon-left.icon-plus--blue Primeiro nome
									li.bg-medium-accent.f7.b.accent.fl.lh-title.pa2.mr2.mb2
										span.has-icon.has-icon-left.icon-plus--blue Sobrenome
									li.bg-medium-accent.f7.b.accent.fl.lh-title.pa2.mr2.mb2
										span.has-icon.has-icon-left.icon-plus--blue Mensagem
									li.bg-medium-accent.f7.b.accent.fl.lh-title.pa2.mr2.mb2
										span.has-icon.has-icon-left.icon-plus--blue CPF
									li.bg-medium-accent.f7.b.accent.fl.lh-title.pa2.mr2.mb2
										span.has-icon.has-icon-left.icon-plus--blue Apelido								
							textarea#mensagem-texto.characterCount.f7.mt4.b--black-20.h5(data-length="160")
							p.mensagem-texto.main-gray.tr.lh-copy.mt1
								div.checkbox.relative.mt4.nl3
									input(type='checkbox' id='flash-sms')
									label.pl3.f5.black.normal(for='flash-sms') Enviar como Flash SMS
									span.has-icon.has-icon-right.icon-tooltip
						// SECOND HALF OF THE GRID		
						.fl.w-50.pl5.messages
							label.fl.f6.black.lh-copy Prévia do envio
							div.phone-preview.relative.h-auto.fl.cl.mt2
								img.db.w-100(src="../img/phone.png")
								div.speak-bubble-container
									.speak-bubble
										p Digite sua mensagem ao lado e veja como funciona
			// SCHEDULE
			div.fl.w-100.bb.b--black-20#schedule
				div.fl.w-100.pt4.pb6.mw8
					h3.fl.black.f3.lh-solid Agendar
					.fl.w-100.mt4.cl
						// FIRST HALF OF THE GRID
						form.fl.w-50.pr5(action="")
							div.fl.w-100.relative
								div.radio.relative.nl3
										input(type='radio' id='one-part', name='schedule')
										label.pl3.f5.black.normal(for='one-part') Enviar de uma única vez
								.fl.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt3.input.caret-down
									span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Agora
								.dropdown.content-box.nl3.nr3
									label.black-50.f6 Tipo de relatório
									input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
									ul.pt0.pb1.pl3
										li.search__subheading
											span Buscas recentes
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
							div.fl.w-100.mt4.relative
								div.radio.relative.nl3
										input(type='radio' id='multiple-parts', name='schedule')
										label.pl3.f5.black.normal(for='multiple-parts') Enviar em partes
								p.main-gray.lh-copy.mt2 Para evitar que seu servidor fique sobrecarregado quando você pedir alguma ação do cliente, como ligar para o callcenter ou enviar um email, por exemplo
								div.fl.w-100.dn
									.fl.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt3.input.caret-down
										span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Agora
									.dropdown.content-box.nl3.nr3
										label.black-50.f6 Tipo de relatório
										input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
										ul.pt0.pb1.pl3
											li.search__subheading
												span Buscas recentes
											li
												span Bruno Farias
											li
												span Nayara Rodrigues
											li
												span Neto Andrade
											li
												span Hudson Souza
											li
												span Edson Koji
											li
												span Henrique Perticarati
											li
												span Juliana Gaspari
			// SEND BUTTON
			button#send-message.bg-success.ttu.tracked.div.fixed.left-0.right-0.bottom-0.w-100.bn.tr.f7.b.white.pa4.lh-solid.dn
				span.has-icon.has-icon-right.icon-check--white enviar mensagem

	// jQuery
	script(src='js/jquery-3.1.0.min.js')
	script(src='js/novoenvio.js')
	script.
		$('.dropdown-checkbox').click(function() {
		var length = $(this).parents(".dropdown-item-box").find(".dropdown-checkbox:checked").length;
		if (length == 0) {
		$(this).prop('checked', true);
		}
		var selected = $('.dropdown-checkbox:checked').map(function() {
		return this.value;
		}).get().join(', ');
		$(this).parents(".has-dropdown").find(".insert-criteria").text(selected);
		});
	// Filters
	script(src='js/forms.js')
	// Send New
	script(src='js/send-new.js')
	// For message preview
	script(src='js/character-count.js')
	script(src='js/replicate-text.js')

