doctype html
html(lang='pt-br')
	head
		include pug/_head
	body
		aside
			.logo
				img.blue(src='img/logo-white.png', alt='Logo Movile Messaging')
			nav
				ul.primary-nav
					li
						a(href='') Dashboard
					li
						a(href='') Novo envio
					li
						a.active(href='') Relatórios
					li
						a(href='') Contatos
					li
						a(href='') Configurações
					li
						a(href='') Suporte
		section.upper-bar
			h1 Relatórios
		section.main-content
			//- #bottomModal.bottom-bar-modal
			.actions-container
				.bg-lightest-gray.theblack.filter__container
					.flex.justify-between.items-center
						h3.theblack.f4 Filtros
						// Calendar
						input#datepicker.calendar-picker(name='e1')
						// /Calendar
					.flex.justify-between.mt3
						.w-100.mr3
							.filters__item--user-or-la
								label.main-label Tipo de relatório
								.input.caret-down
									span Envios consolidados
								.dropdown.dropdown--user-or-la
									label.main-label Tipo de relatório
									input(type='search', autofocus='')
									ul
										li.search__subheading
											span Buscas recentes
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
						.w-100.mr3
							// USUARIO OU LA
							.filters__item--user-or-la
								label.main-label Subconta
								.input.caret-down
									span Todas as subcontas
								.dropdown.dropdown--user-or-la
									label.main-label Subconta
									input(type='search', autofocus='')
									ul
										li.search__subheading
											span Buscas recentes
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
						.w-100
							.filters__item--user-or-la
								label.main-label Usuários
								.input.caret-down
									span Todos os usuários
								.dropdown.dropdown--user-or-la
									label.main-label Usuários
									input(type='search', autofocus='')
									ul
										li.search__subheading
											span Buscas recentes
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
					.flex.justify-between.mt3
						.w-100.mr3
							.filters__item--user-or-la
								label.main-label Campanha, Lote ou Número
								.input.caret-down
									span Carnaval 2014
								.dropdown.dropdown--user-or-la
									label.main-label Campanha, Lote ou Número
									input(type='search', autofocus='')
									ul
										li.search__subheading
											span Buscas recentes
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
						.w-100.mr3
							// USUARIO OU LA
							.filters__item--user-or-la
								label.main-label Operadoras
								.input.caret-down
									span Todas as operadoras
								.dropdown.dropdown--user-or-la
									label.main-label Operadoras
									input(type='search', autofocus='')
									ul
										li.search__subheading
											span Buscas recentes
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
						.w-100
							.filters__item--user-or-la
								label.main-label Status das mensagens
								.input.caret-down
									span Todos os status
								.dropdown.dropdown--user-or-la
									label.main-label Status das mensagens
									input(type='search', autofocus='')
									ul
										li.search__subheading
											span Buscas recentes
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
					.flex.justify-end.mt3
						a.cta.cta-accent
							span.has-icon-left.icon-check--white aplicar
			div.mt4
				h3.theblack.f4.mt1 Resultados
			.flex.justify-between.items-center.mt3.mb3.item-start.relative
					.flex.flex-column.items-left
						span.f7.blue-gray Campanha
						h3.blue-gray.f5.mt1 Carnaval 2014, por mês
					a.cta.pointer.download.download-button
						span.has-icon-right.icon-dropdown__blue download
					.flex.flex-column.download-items.absolute.top-0.right-0.theblack.ph3.pt1.pb3.bg-white.z-3
						a(href='javascript:').b.f6.mt2.theblack.accent-hover Gerar relatórios
						a(href='javascript:').b.f6.mt2.theblack.accent-hover Gerar tabela
						a(href='javascript:').b.f6.mt2.theblack.accent-hover Gerar gráfico
			div.mb3
				span.theblack.f7.ttu.b envios
			//- Display the table
			.ct-chart.ct-double-octave
			// legenda do gráfico
			.flex.mt4.justify-between.items-start.relative.lh-copy
				div
					span.bg-green.br-100.pa1.dib
					span.f7.blue-gray.ml1.ttu.b.tracked Mensagens enviadas
					span.bg-red.br-100.pa1.dib.ml4
					span.f7.blue-gray.ml1.ttu.b.tracked Mensagens com erro
				.flex.mr2.has-dropdown.relative.lh-copy
						span.f6.theblack Visualização por
						span.f6.theblack.b.ml1.pr5.bb.relative.has-icon-right.icon-dropdown.insert-criteria.view-box-close.pointer Operadora
						.flex.view-box-open.shadow-2.pv2.ph3.absolute.top-0.left-0.bg-white.z-3.w-100.content-box.nt2.nl3.o-0
							span.f6.w-100.theblack Visualização por
							.flex.flex-column.dropdown-item-box
								span.f6.theblack.b.ml1.bb.relative.has-icon-right.icon-dropdown.insert-criteria Operadora
								span.f6.theblack.b.ml1.mt3.relative.view-criteria.pointer.accent-hover Hora
								span.f6.theblack.b.ml1.mt3.relative.view-criteria.pointer.accent-hover Dia
								span.f6.theblack.b.ml1.mt3.relative.view-criteria.pointer.accent-hover Mês
								span.f6.theblack.b.ml1.mt3.relative.view-criteria.pointer.accent-hover Operadora

			// número de mensagens enviadas
			.flex.mt2
				.flex.flex-column.mr5
					span.blue-gray.f2.b 12.7mi
					span.theblack.f6
						| mensagens
						br
						| enviadas
				.flex.flex-column.mr5
					span.green.f2.b 4.2mi
					span.theblack.f6
						| enviadas com
						br
						| sucesso
				.flex.flex-column.mr5
					span.red.f2.b 1.5mi
					span.theblack.f6
						| mensagens
						br
						| com erro
			//Detalhes
			div.mt5
				h3.blue-gray.f5 Detalhes
				.flex.mt4.theblack.lh-copy
					.flex.mr2.has-dropdown.relative
						span.f6 Consolidar por
						div.relative.pa0.ma0
							span.f6.theblack.b.ml1.pr5.bb.relative.has-icon-right.icon-dropdown.insert-criteria.view-box-close.pointer.db Operadora
							.flex.view-box-open.shadow-2.pb2.pt0.ph2.absolute.top-0.left-0.bg-white.z-3.nt2.nl3.o-0
								//- span.f6.w-100 Consolidar por
								.flex.flex-column.dropdown-item-box.ml4
									//- span.f6.w-100.nl2 Consolidar por
									.input.multichoice.mt4
										.checkbox
											input.dropdown-checkbox#operadora_checkbox(type='checkbox', name='operadora', value='Operadora' checked)
											label.f6.accent-hover(for='operadora_checkbox') Operadora
									.input.multichoice.mt4
										.checkbox
											input.dropdown-checkbox#campanha_checkbox(type='checkbox', name='campanha', value='Campanha')
											label.f6.accent-hover(for='campanha_checkbox') Campanha
									.input.multichoice.mt4
										.checkbox
											input.dropdown-checkbox#cliente_checkbox(type='checkbox', name='cliente', value='Cliente')
											label.f6.accent-hover(for='cliente_checkbox') Cliente
									.input.multichoice.mt4
										.checkbox
											input.dropdown-checkbox#subconta_checkbox(type='checkbox', name='subconta', value='Subconta')
											label.f6.accent-hover(for='subconta_checkbox') Subconta
									.input.multichoice.mt4
										.checkbox
											input.dropdown-checkbox#usuario_checkbox(type='checkbox', name='usuario', value='Usuário')
											label.f6.accent-hover(for='usuario_checkbox') Usuário
					.flex.mr2.has-dropdown.relative
						span.f6 e por
						span.f6.theblack.b.ml1.pr5.bb.relative.has-icon-right.icon-dropdown.insert-criteria.view-box-close.pointer Hoje
						.flex.view-box-open.shadow-2.pv2.ph3.absolute.top-0.left-0.bg-white.z-3.w-100.content-box.nt2.nl3.o-0
							span.f6.w-100 e por
							.flex.flex-column.dropdown-item-box
								span.f6.theblack.b.ml1.bb.relative.has-icon-right.icon-dropdown.insert-criteria Hoje
								span.f6.theblack.b.ml1.mt3.relative.view-criteria.pointer.accent-hover Hora
								span.f6.theblack.b.ml1.mt3.relative.view-criteria.pointer.accent-hover Dia
								span.f6.theblack.b.ml1.mt3.relative.view-criteria.pointer.accent-hover Mês

			// tabela com resultados
			table.w-100.mt4.mb4.tl.v-top(cellspacing='0')
				thead.v-top
					tr.pv3.b--black.bb.ttu.f7.theblack.b.tl.tracked
						th.bb.b--black-20.pv2.table-mes
							span Mês
						th.bb.b--black-20.pv2.table-cliente
							span Cliente
						th.bb.b--black-20.pv2.mw3.table-campanha
							span Campanha
						th.bb.b--black-20.pv2.table-subconta
							span Subconta
						th.bb.b--black-20.pv2.table-usuario
							span Usuário
						th.bb.b--black-20.pv2.table-operadora
							span Operadora
						th.bb.b--black-20.pv2.table-sucessos
							span Sucessos
						th.bb.b--black-20.pv2.table-agendados
							span Agendados
						th.bb.b--black-20.pv2.table-enviados
							span Enviados
						th.bb.b--black-20.pv2.table-erros
							span Erros
						th.bb.b--black-20.pv2.table-inicio
							span Início do envio
				tbody.v-top
					tr.bb
						td.bb.b--black-20.pv4.table-mes
							span Fevereiro
						td.bb.b--black-20.pv4.table-cliente
							span Cliente
						td.bb.b--black-20.pv4.mw5.table-campanha
							span Campanha do dia dos namorados 2017
						td.bb.b--black-20.pv4.table-subconta
							span marketing
						td.bb.b--black-20.pv4.table-usuario
							span matiazzo
						td.bb.b--black-20.pv4.table-operadora
							span Brasil telecom
						td.bb.b--black-20.pv4.table-sucessos
							span 90mi
						td.bb.b--black-20.pv4.table-agendados
							span 100mi
						td.bb.b--black-20.pv4.table-enviados
							span 300mi
						td.bb.b--black-20.pv4.table-erros
							span 10mi
						td.bb.b--black-20.pv4.table-inicio
							span 12/12/16, às 17:56
					
	// jQuery
	script(src='js/jquery-3.1.0.min.js')

	// Filters
	script(src='js/forms.js')
	// For the calendar
	script(src='calendar/jquery-ui/jquery-ui.min.js')
	script(src='calendar/moment.js')
	script(src='calendar/jquery.comiseo.daterangepicker.js')
	script(src='charts/custom-charts.js')
	script.
		$(function() {
		$("#datepicker").daterangepicker({
		presetRanges: [{
		text: 'Últimos 7 dias',
		dateStart: function() { return moment().add(-7, 'days') },
		dateEnd: function() { return moment().add(0, 'days') }
		}, {
		text: 'Últimos 30 dias',
		dateStart: function() { return moment().add(-30, 'days') },
		dateEnd: function() { return moment().add(0, 'days') }
		}, {
		text: 'Últimos 90 dias',
		dateStart: function() { return moment().add(-90, 'days') },
		dateEnd: function() { return moment().add(0, 'days') }
		}],
		applyOnMenuSelect: false,
		dateFormat: 'd M yy',
		rangeSplitter: ' – ',
		initialText: 'Escolha um período',
		applyButtonText: 'confirmar',
		clearButtonText: 'limpar',
		cancelButtonText: 'cancelar',
		verticalOffset: -50,
		datepickerOptions: {
		dayNamesMin: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
		monthNames: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'  ],
		monthNamesShort: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
		numberOfMonths: 2,
		minDate: null,
		maxDate: 0
		}
		});
		});
