doctype html
html(lang='pt-br')
	head
		meta(charset='UTF-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Movile Messaging – Relatórios
		meta(name='movile-messaging', content='Movile Messaging')
		// For the calendar
		link(href='calendar/jquery-ui/jquery-ui.min.css', rel='stylesheet')
		link(href='calendar/jquery.comiseo.daterangepicker.css', rel='stylesheet')
		// For the charts
		link(href='charts/chartist.min.css', rel='stylesheet')
		script(src='charts/chartist.min.js', charset='utf-8')
		// Tachyons CSS
		link(rel='stylesheet', href='stylesheets/tachyons.min.css')
		// Main CSS
		link(rel='stylesheet', href='stylesheets/main.css')
		// Typekit
		script(src='https://use.typekit.net/fja4naa.js')
		script.
			try{Typekit.load({ async: false });}catch(e){}
		style.
			.table-operadora, .table-subconta, .table-inicio{display:none;}
	body
		aside.fixed.fl.h-100.bg-sidebar
			.bb.b--black-10
				.pl4.mt4.pb3.w4
					img.db.w-90(src='img/logo-white.png', alt='Logo Movile Messaging')
			nav.pl4.mt4
				ul.list.pl0.mt3
					li.mt3
						a.white.dim.f6(href='dashboard.html') Dashboard
					li.mt3
						a.white.dim.f6(href='novo-envio.html') Novo envio
					li.mt3
						a.white.dim.f6.bb.bw1(href='') Relatórios
					li.mt3
						a.white.dim.f6(href='') Contatos
					li.mt3
						a.white.dim.f6(href='permissoes.html') Permissões
					li.mt3
						a.white.dim.f6(href='conta.html') Sua conta
					li.mt3
						a.white.dim.f6(href='') Suporte
		section.upper-bar.flex.justify-between.items-end.fr.ph4.pt4.pb3.bb.b--black-10
			h1.f2.fl.black Relatórios
			.fr.lh-copy.relative
				.relative.mr4.fl
					a.upper-bar-menu.f5.b.has-icon.has-icon-left.icon-notif__gray Notificações
					.absolute.top--1.right--1
						.relative
							span.notification-badge 275
					// NOTIFICATIONS
					.dropdown.notifications
						// NOTIF HEADER
						.fl.w-100.pa3.bb.lighter-gray
							button.mark-all-as-read.ttu.fr.lh-copy.pv0.pr0.tracked.b.f8.main-gray.bn.bg-white.has-icon.has-icon-left.icon-check--gray.outline-0 marcar todas como lidas
						// NOTIFS BODY
						.fl.w-100
							// NOTIF ITEM
							.notif__item.bb.lighter-gray.pa3.fl.w-100
								.notif__icon.w1.fl
									img.db.w-100(src='img/icons/graph-gray.png', alt='Graph Icon')
								.w-90.fl.pl3
									.notif__status.b.db.ttu.tracked.main-gray.f8.lh-solid
										span.dib.bg-lightest-gray.pa1.can-be-read está sendo gerado
									h1.notif__title.f5.mt1.can-be-read.black Relatório consolidado
									p.notif__date.f6.mt0.can-be-read
										| Requerido às 
										span.notif__hour 17h20
										| , em 
										span.notif__day 17/08/16
								.fl.w-100.pl4.notif__actions.mt3
									span.notif__report-id.fl.f8.b.ttu.tracked.black-20.can-be-read ID 4768987
									<button class="accent bn bg-white fr f8 b ttu tracked">download</button>
							// NOTIF ITEM
							.notif__item.bb.lighter-gray.pa3.fl.w-100
								.notif__icon.w1.fl
									img.db.w-100(src='img/icons/graph-gray.png', alt='Graph Icon')
								.w-90.fl.pl3
									.notif__status.b.db.ttu.tracked.main-gray.f8.lh-solid
										span.dib.bg-lightest-gray.pa1.green.bg-lighter-green.can-be-read está pronto
									h1.notif__title.f5.mt1.can-be-read.black Relatório consolidado
									p.notif__date.f6.mt0.can-be-read
										| Requerido às 
										span.notif__hour 17h20
										| , em 
										span.notif__day 17/08/16
								.fl.w-100.pl4.notif__actions.mt3
									span.notif__report-id.fl.f8.b.ttu.tracked.black-20.can-be-read ID 4768987
									button.accent.bn.bg-white.fr.f8.b.ttu.tracked download
							// NOTIF ITEM
							.notif__item.bb.lighter-gray.pa3.fl.w-100
								.notif__icon.w1.fl
									img.db.w-100(src='img/icons/graph-gray.png', alt='Graph Icon')
								.w-90.fl.pl3
									.notif__status.b.db.ttu.tracked.main-gray.f8.lh-solid
										span.dib.bg-lightest-gray.pa1.red.bg-lighter-red.can-be-read não foi possível gerar
									h1.notif__title.f5.mt1.can-be-read.black Relatório consolidado
									p.notif__date.f6.mt0.can-be-read
										| Requerido às 
										span.notif__hour 17h20
										| , em 
										span.notif__day 17/08/16
								.fl.w-100.pl4.notif__actions.mt3
									span.notif__report-id.fl.f8.b.ttu.tracked.black-20.can-be-read ID 4768987
									a.accent.bn.bg-white.fr.f8.b.ttu.tracked(href='notifs.html')
										| ver detalhes
						// NOTIF FOOTER
						.fl.w-100.pa3
							a.ttu.fl.lh-copy.pv0.tracked.b.f8.accent.bn.bg-white.has-icon.has-icon-right.icon-arrow-right--blue(href='notifs.html')
								| ver todas as notificações
				h3.f5.b.fl.has-icon.has-icon-right.icon-dropdown NomeDoUsuário
		// MAIN CONTENT
		section.main-content.ph3.pt3.pb5.fr
			// FILTERS
			.actions-container
				.fl.w-100.bg-lighter-accent.pa3
					.fl.w-100
						h3.fl.black.f3.lh-solid Filtros
						// Calendar
						input#datepicker.fr.calendar-picker(name='e1')
					// FILTERS ROW
					.fl.w-100.mt4
						.nl3.nr3
							// FILTER ITEM
							.relative.w-third.fl.ph3
								label.black-50.f6 Tipo de relatório
								.fl.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input.caret-down
									span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Envios consolidados
								.dropdown.content-box
									label.black-50.f6 Tipo de relatório
									//- input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
									//- span.main-gray.db.f6.pl3.pv3 Buscas recentes
									ul.pt0.pb1.pl3
										li
											span Envios consolidades
										li
											span Envios detalhados
							// FILTER ITEM
							.relative.w-third.fl.ph3
								label.black-50.f6 Subconta
								.fl.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input.caret-down
									span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Envios consolidados
								.dropdown.content-box
									label.black-50.f6 Subconta
									input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
									span.main-gray.db.f6.pl3.pv3 Buscas recentes
									ul.pt0.pb1.pl3
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
							// FILTER ITEM
							.relative.w-third.fl.ph3
								label.black-50.f6 Usuários
								.fl.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input.caret-down
									span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Envios consolidados
								.dropdown.content-box
									label.black-50.f6 Usuários
									input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
									span.main-gray.db.f6.pl3.pv3 Buscas recentes
									ul.pt0.pb1.pl3
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
					// FILTERS ROW
					.fl.w-100.mt4
						.nl3.nr3
							// FILTER ITEM
							.relative.w-third.fl.ph3
								label.black-50.f6 Campanha, Lote ou Celular
								.fl.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input.caret-down
									span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Envios consolidados
								.dropdown.content-box
									label.black-50.f6 Campanha, Lote ou Celular
									input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
									span.main-gray.db.f6.pl3.pv3 Buscas recentes
									ul.pt0.pb1.pl3
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
							// FILTER ITEM
							.relative.w-third.fl.ph3
								label.black-50.f6 Operadoras
								.fl.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input.caret-down
									span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Envios consolidados
								.dropdown.content-box
									label.black-50.f6 Operadoras
									input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
									span.main-gray.db.f6.pl3.pv3 Buscas recentes
									ul.pt0.pb1.pl3
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
							// FILTER ITEM
							.relative.w-third.fl.ph3
								label.black-50.f6 Status das mensagens
								.fl.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input.caret-down
									span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Envios consolidados
								.dropdown.content-box
									label.black-50.f6 Status das mensagens
									input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
									span.main-gray.db.f6.pl3.pv3 Buscas recentes
									ul.pt0.pb1.pl3
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
					a.dib.fr.mt4.mb3.cta.cta-accent
						span.has-icon-left.icon-check--white aplicar
			// RESULTS
			.fl.w-100.ph3.pt4
				h3.theblack.f4.fl.w-100 Resultados
				.mt4.relative.fl.w-100
					div.fl
						span.black.f6 Campanha
						h3.blue-gray.f4.mt2 Carnaval 2014, por mês
					a.cta.pointer.download.download-button.fr
						span.has-icon-right.icon-dropdown__blue download
					.download-items.absolute.right-0.theblack.ph3.pt1.pb3.bg-white.z-3
						a.db.b.f6.mt3.theblack.accent-hover(href='javascript:') Gerar relatórios
						a.db.b.f6.mt3.theblack.accent-hover(href='javascript:') Gerar tabela
						a.db.b.f6.mt3.theblack.accent-hover(href='javascript:') Gerar gráfico

			// tabela com resultados
			.fl.w-100.relative.ph3
				div.w-90.overflow-x-scroll
					table.w-100.mt4.mb4.tl.v-top(cellspacing='0', cellpadding='0')
						thead.v-top
							tr.ttu.f8.theblack.b.tl.tracked
								th.bb.nowrap.table-status
									span.pv2.pr3.db Status
								th.bb.nowrap.w-4.table-phone
									span.pv2.pr3.db Phone
								th.bb.nowrap.table-la
									span.pv2.pr3.db LA
								th.bb.nowrap.table-carrier
									span.pv2.pr3.db Carrier
								th.bb.nowrap.table-campaign
									span.pv2.pr3.db Campaign
								th.bb.nowrap.table-creation-date
									span.pv2.pr3.db Creation Date
								th.bb.nowrap.table-date
									span.pv2.pr3.db Date
								th.bb.nowrap.table-customer
									span.pv2.pr3.db Customer
								th.bb.nowrap.table-sub-account
									span.pv2.pr3.db Sub-account
								th.bb.nowrap.table-user
									span.pv2.pr3.db User
								th.bb.nowrap.table-text
									span.pv2.pr3.db Text
						tbody.v-top
							tr.bb.relative.f6
								td.nowrap.f6.bb.b--black-20.table-status
									span.db.pv4.pr3.green Sent
								td.nowrap.f6.bb.b--black-20.table-phone
									span.db.pv4.pr3 +55 (99) 99999-9999
								td.nowrap.f6.bb.b--black-20.table-la
									span.db.pv4.pr3 27171
								td.nowrap.f6.bb.b--black-20.table-carrier
									span.db.pv4.pr3 Vivo
								td.nowrap.f6.bb.b--black-20.table-campaign
									span.db.pv4.pr3 Compras de Natal 2014
								td.nowrap.f6.bb.b--black-20.table-creation-date
									span.db.pv4.pr3 24/01/2017 10:28
								td.nowrap.f6.bb.b--black-20.table-date
									span.db.pv4.pr3 24/01/2017 10:28
								td.nowrap.f6.bb.b--black-20.table-customer
									span.db.pv4.pr3 Bradesco
								td.nowrap.f6.bb.b--black-20.table-sub-account
									span.db.pv4.pr3 Bradesco - BDT
								td.nowrap.f6.bb.b--black-20.table-user
									span.db.pv4.pr3 Marketing
								td.nowrap.f6.bb.b--black-20.table-text.relative
									span.db.pv4.pr3.mw5.truncated.truncate.nowrap.accent-hover.pointer O reembolso 2017.0000058693.00, evento 14/11/2016, recibo 31144 estara disponivel em conta em 48h. Duvidas, contate a Bradesco Saude.
							tr.bb.relative.f6
								td.nowrap.f6.bb.b--black-20.table-status
									span.db.pv4.pr3.green Sent
								td.nowrap.f6.bb.b--black-20.table-phone
									span.db.pv4.pr3 +55 (99) 99999-9999
								td.nowrap.f6.bb.b--black-20.table-la
									span.db.pv4.pr3 27171
								td.nowrap.f6.bb.b--black-20.table-carrier
									span.db.pv4.pr3 Vivo
								td.nowrap.f6.bb.b--black-20.table-campaign
									span.db.pv4.pr3 Compras de Natal 2014
								td.nowrap.f6.bb.b--black-20.table-creation-date
									span.db.pv4.pr3 24/01/2017 10:28
								td.nowrap.f6.bb.b--black-20.table-date
									span.db.pv4.pr3 24/01/2017 10:28
								td.nowrap.f6.bb.b--black-20.table-customer
									span.db.pv4.pr3 Bradesco
								td.nowrap.f6.bb.b--black-20.table-sub-account
									span.db.pv4.pr3 Bradesco - BDT
								td.nowrap.f6.bb.b--black-20.table-user
									span.db.pv4.pr3 Marketing
								td.nowrap.f6.bb.b--black-20.table-text.relative
									span.db.pv4.pr3.mw5.truncated.truncate.nowrap.accent-hover.pointer O reembolso 2017.0000058693.00, evento 14/11/2016, recibo 31144 estara disponivel em conta em 48h. Duvidas, contate a Bradesco Saude.
				table.w-10.h-100.mt4.mb4.tl.v-top.absolute.top-0.right-1.bg-white(cellspacing='0', cellpadding='0')
					thead.v-top
						tr.pv3.b--black.bb.ttu.f8.theblack.b.tl.tracked
							th.bb.pv2.pl3.table-detalhes
								a.black(href='javascript:') Detalhes
					tbody.v-top
						tr.bb.relative.f6
							td.bb.b--black-20.pv4.ph3.table-detalhes.left-shadow
								a.accent.f8.ttu.tracked.b(href='javascript:')
									span.has-icon.has-icon-left.icon-user Contato
						tr.bb.relative.f6
							td.bb.b--black-20.pv4.ph3.table-detalhes.left-shadow
								a.accent.f8.ttu.tracked.b(href='javascript:')
									span.has-icon.has-icon-left.icon-user Contato
					
	// jQuery
	script(src='js/jquery-3.1.0.min.js')

	script.
		$(".truncated").click(function() {
			$(".truncated").toggleClass("truncate");
			$(".truncated").toggleClass("not-truncate");
			$(".truncated").toggleClass("mw5");
			$(this).parents(".overflow-x-scroll").scrollLeft(1000);
		});

	script.
		$('.dropdown-checkbox').click(function() {
			var length = $(this).parents(".dropdown-item-box").find(".dropdown-checkbox:checked").length;
			if (length == 0) {
				$(this).prop('checked', true);
			}
			var selected = $('.dropdown-checkbox:checked').map(function() {
			    return this.value;
			}).get().join(', ');
			$(this).parents(".has-dropdown").find(".insert-criteria").text(selected);
		});

	// Filters
	script(src='js/forms.js')
	// For the calendar
	script(src='calendar/jquery-ui/jquery-ui.min.js')
	script(src='calendar/moment.js')
	script(src='calendar/jquery.comiseo.daterangepicker.js')
	script(src='charts/custom-charts.js')
	script.
		$(function() {
		$("#datepicker").daterangepicker({
		presetRanges: [{
		text: 'Últimos 7 dias',
		dateStart: function() { return moment().add(-7, 'days') },
		dateEnd: function() { return moment().add(0, 'days') }
		}, {
		text: 'Últimos 30 dias',
		dateStart: function() { return moment().add(-30, 'days') },
		dateEnd: function() { return moment().add(0, 'days') }
		}, {
		text: 'Últimos 90 dias',
		dateStart: function() { return moment().add(-90, 'days') },
		dateEnd: function() { return moment().add(0, 'days') }
		}],
		applyOnMenuSelect: false,
		dateFormat: 'd M yy',
		rangeSplitter: ' – ',
		initialText: 'Escolha um período',
		applyButtonText: 'confirmar',
		clearButtonText: 'limpar',
		cancelButtonText: 'cancelar',
		verticalOffset: -50,
		datepickerOptions: {
		dayNamesMin: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
		monthNames: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'  ],
		monthNamesShort: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
		numberOfMonths: 2,
		minDate: null,
		maxDate: 0
		}
		});
		});
