doctype html
html(lang='pt-br')
	head
		meta(charset='UTF-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Movile Messaging – Relatórios
		meta(name='movile-messaging', content='Movile Messaging')
		// For the calendar
		link(href='calendar/jquery-ui/jquery-ui.min.css', rel='stylesheet')
		link(href='calendar/jquery.comiseo.daterangepicker.css', rel='stylesheet')
		// For the charts
		link(href='charts/chartist.min.css', rel='stylesheet')
		script(src='charts/chartist.min.js', charset='utf-8')
		// Tachyons CSS
		link(rel='stylesheet', href='stylesheets/tachyons.min.css')
		// Main CSS
		link(rel='stylesheet', href='stylesheets/main.css')
		// Typekit
		script(src='https://use.typekit.net/fja4naa.js')
		script.
			try{Typekit.load({ async: false });}catch(e){}
		style.
			.table-operadora, .table-subconta, .table-inicio{display:none;}
	body
		aside
			.logo
				img.blue(src='img/logo-white.png', alt='Logo Movile Messaging')
			nav
				ul.primary-nav
					li
						a(href='') Dashboard
					li
						a(href='') Novo envio
					li
						a.active(href='') Relatórios
					li
						a(href='') Contatos
					li
						a(href='') Configurações
					li
						a(href='') Suporte
		section.upper-bar
			h1 Relatórios
		section.main-content
			//- #bottomModal.bottom-bar-modal
			.actions-container
				.bg-lightest-gray.theblack.filter__container
					.flex.justify-between.items-center
						h3.theblack.f4 Filtros
						// Calendar
						input#datepicker.calendar-picker(name='e1')
						// /Calendar
					.flex.justify-between.mt3
						.w-100.mr3
							.filters__item--user-or-la
								label.main-label Tipo de relatório
								.input.caret-down
									span Envios Detalhados
								.dropdown.dropdown--user-or-la
									label.main-label Tipo de relatório
									input(type='search', autofocus='')
									ul
										li.search__subheading
											span Buscas recentes
										li
											span Bruno Farias
						.w-100.mr3
							// USUARIO OU LA
							.filters__item--user-or-la
								label.main-label Subconta
								.input.caret-down
									span Todas as subcontas
								.dropdown.dropdown--user-or-la
									label.main-label Subconta
									input(type='search', autofocus='')
									ul
										li.search__subheading
											span Buscas recentes
										li
											span Bruno Farias
						.w-100
							.filters__item--user-or-la
								label.main-label Usuários
								.input.caret-down
									span Todos os usuários
								.dropdown.dropdown--user-or-la
									label.main-label Usuários
									input(type='search', autofocus='')
									ul
										li.search__subheading
											span Buscas recentes
										li
											span Bruno Farias
					.flex.justify-between.mt3
						.w-100.mr3
							.filters__item--user-or-la
								label.main-label Campanha, Lote ou Número
								.input.caret-down
									span Carnaval 2014
								.dropdown.dropdown--user-or-la
									label.main-label Campanha, Lote ou Número
									input(type='search', autofocus='')
									ul
										li.search__subheading
											span Buscas recentes
										li
											span Bruno Farias
						.w-100.mr3
							// USUARIO OU LA
							.filters__item--user-or-la
								label.main-label Operadoras
								.input.caret-down
									span Todas as operadoras
								.dropdown.dropdown--user-or-la
									label.main-label Operadoras
									input(type='search', autofocus='')
									ul
										li.search__subheading
											span Buscas recentes
										li
											span Bruno Farias
						.w-100
							.filters__item--user-or-la
								label.main-label Status das mensagens
								.input.caret-down
									span Todos os status
								.dropdown.dropdown--user-or-la
									label.main-label Status das mensagens
									input(type='search', autofocus='')
									ul
										li.search__subheading
											span Buscas recentes
										li
											span Bruno Farias
					.flex.justify-end.mt3
						a.cta.cta-accent
							span.has-icon-left.icon-check--white aplicar
			div.mt4
				h3.theblack.f4.mt1 Resultados
			.flex.justify-between.items-center.mt3.mb3.item-start
					.flex.flex-column.items-left
						span.f7.blue-gray Campanha
						h3.blue-gray.f5.mt1 Carnaval 2014, por mês
			
			// busca e download
			.flex.justify-between.items-end.mt3.mb3.item-start.mt4.relative
				.flex.flex-column.w-50
					label.f6.theblack Buscar por destinatário
					input.pv2.bg-search.relative(type='text')
				a.cta.pointer.download.download-button
					span.has-icon-right.icon-dropdown__blue download
				.flex.flex-column.download-items.absolute.top-0.right-0.theblack.ph3.pt1.pb3.bg-white.z-3.shadow-1
					a(href='javascript:').b.f6.mt2.theblack.accent-hover Gerar relatórios
					a(href='javascript:').b.f6.mt2.theblack.accent-hover Gerar tabela
					a(href='javascript:').b.f6.mt2.theblack.accent-hover Gerar gráfico

			// tabela com resultados
			table.w-100.mt4.mb4.tl.v-top(cellspacing='0')
				thead.v-top
					tr.pv3.b--black.bb.ttu.f7.theblack.b.tl.tracked
						th.bb.b--black-20.pv2.table-mes
							span Mês
						th.bb.b--black-20.pv2.table-cliente
							span Cliente
						th.bb.b--black-20.pv2.mw3.table-campanha
							span Campanha
						th.bb.b--black-20.pv2.table-subconta
							span Subconta
						th.bb.b--black-20.pv2.table-usuario
							span Usuário
						th.bb.b--black-20.pv2.table-operadora
							span Operadora
						th.bb.b--black-20.pv2.table-sucessos
							span Sucessos
						th.bb.b--black-20.pv2.table-agendados
							span Agendados
						th.bb.b--black-20.pv2.table-enviados
							span Enviados
						th.bb.b--black-20.pv2.table-erros
							span Erros
						th.bb.b--black-20.pv2.table-inicio
							span Início do envio
				tbody.v-top
					tr.bb
						td.bb.b--black-20.pv4.table-mes
							span Fevereiro
						td.bb.b--black-20.pv4.table-cliente
							span Cliente
						td.bb.b--black-20.pv4.mw5.table-campanha
							span Campanha do dia dos namorados 2017
						td.bb.b--black-20.pv4.table-subconta
							span marketing
						td.bb.b--black-20.pv4.table-usuario
							span matiazzo
						td.bb.b--black-20.pv4.table-operadora
							span Brasil telecom
						td.bb.b--black-20.pv4.table-sucessos
							span 90mi
						td.bb.b--black-20.pv4.table-agendados
							span 100mi
						td.bb.b--black-20.pv4.table-enviados
							span 300mi
						td.bb.b--black-20.pv4.table-erros
							span 10mi
						td.bb.b--black-20.pv4.table-inicio
							span 12/12/16, às 17:56
					
	// jQuery
	script(src='js/jquery-3.1.0.min.js')

	script.
		$('.dropdown-checkbox').click(function() {
			var length = $(this).parents(".dropdown-item-box").find(".dropdown-checkbox:checked").length;
			if (length == 0) {
				$(this).prop('checked', true);
			}
			var selected = $('.dropdown-checkbox:checked').map(function() {
			    return this.value;
			}).get().join(', ');
			$(this).parents(".has-dropdown").find(".insert-criteria").text(selected);
		});

	// Filters
	script(src='js/forms.js')
	// For the calendar
	script(src='calendar/jquery-ui/jquery-ui.min.js')
	script(src='calendar/moment.js')
	script(src='calendar/jquery.comiseo.daterangepicker.js')
	script(src='charts/custom-charts.js')
	script.
		$(function() {
		$("#datepicker").daterangepicker({
		presetRanges: [{
		text: 'Últimos 7 dias',
		dateStart: function() { return moment().add(-7, 'days') },
		dateEnd: function() { return moment().add(0, 'days') }
		}, {
		text: 'Últimos 30 dias',
		dateStart: function() { return moment().add(-30, 'days') },
		dateEnd: function() { return moment().add(0, 'days') }
		}, {
		text: 'Últimos 90 dias',
		dateStart: function() { return moment().add(-90, 'days') },
		dateEnd: function() { return moment().add(0, 'days') }
		}],
		applyOnMenuSelect: false,
		dateFormat: 'd M yy',
		rangeSplitter: ' – ',
		initialText: 'Escolha um período',
		applyButtonText: 'confirmar',
		clearButtonText: 'limpar',
		cancelButtonText: 'cancelar',
		verticalOffset: -50,
		datepickerOptions: {
		dayNamesMin: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
		monthNames: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'  ],
		monthNamesShort: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
		numberOfMonths: 2,
		minDate: null,
		maxDate: 0
		}
		});
		});
