doctype html
html(lang='pt-br')
	head
		meta(charset='UTF-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Movile Messaging – Relatórios
		meta(name='movile-messaging', content='Movile Messaging')
		// For the calendar
		link(href='calendar/jquery-ui/jquery-ui.min.css', rel='stylesheet')
		link(href='calendar/jquery.comiseo.daterangepicker.css', rel='stylesheet')
		// For the charts
		link(href='charts/chartist.min.css', rel='stylesheet')
		script(src='charts/chartist.min.js', charset='utf-8')
		// Tachyons CSS
		link(rel='stylesheet', href='stylesheets/tachyons.min.css')
		//Onboarding
		link(rel='stylesheet', href="onboarding/css/shepherd-theme-arrows.css")
		// Main CSS
		link(rel='stylesheet', href='stylesheets/main.css')
		// Typekit
		script(src='https://use.typekit.net/fja4naa.js')
		script.
			try {
			Typekit.load({
			async: false
			});
			} catch (e) {}
		style.
			.table-operadora,
			.table-subconta,
			.table-inicio {
			display: none;
			}
	body
		aside.fixed.fl.h-100.bg-sidebar
			.bb.b--black-10
				.pl4.mt4.pb3.w4
					a(href="dashboard.html").db.w-90
						img.db(src='img/logo-white.png', alt='Logo Movile Messaging')
			nav.pl4.mt4
				ul.list.pl0.mt3
					li.mt3
						a.white.dim.f6(href='dashboard.html') Dashboard
					li.mt3
						a.white.dim.f6(href='novo-envio.html') Novo envio
					li.mt3
						a.white.dim.f6.bb.bw1(href='relatorios-consolidados.html') Relatórios
					li.mt3
						a.white.dim.f6(href='contatos.html') Contatos
					li.mt3
						a.white.dim.f6(href='permissoes.html') Permissões
					li.mt3
						a.white.dim.f6(href='conta.html') Sua conta
					li.mt3
						a.white.dim.f6(href='') Suporte
		section.upper-bar.flex.justify-between.items-end.fr.ph4.pt4.pb3.bb.b--black-10
			h1.f2.fl.black.lh-solid Relatórios
			.fr.lh-copy.relative
				.relative.mr4.fl
					a.upper-bar-menu.f5.b.has-icon.has-icon-left.icon-notif__gray.pointer Notificações
					.absolute.top--1.right--1
						.relative
							span.notification-badge 275
					// NOTIFICATIONS
					.dropdown.notifications
						// NOTIF HEADER
						.fl.w-100.pa3.bb.black-20
							button.mark-all-as-read.ttu.fr.lh-copy.pv0.pr0.tracked.b.f8.main-gray.bn.bg-white.has-icon.has-icon-left.icon-check--gray.outline-0 marcar todas como lidas
						// NOTIFS BODY
						.fl.w-100
							// NOTIF ITEM
							.notif__item.bb.black-20.pa3.fl.w-100
								.notif__icon.w1.fl
									img.db.w-100(src='img/icons/graph-gray.png', alt='Graph Icon')
								.w-90.fl.pl3
									.notif__status.b.db.ttu.tracked.main-gray.f8.lh-solid
										span.dib.bg-lightest-gray.pa1.can-be-read está sendo gerado
									h1.notif__title.f5.mt1.can-be-read.black Relatório consolidado
									p.notif__date.f6.mt0.can-be-read
										| Requerido às 
										span.notif__hour 17h20
										| , em 
										span.notif__day 17/08/16
								.fl.w-100.pl4.notif__actions.mt3
									span.notif__report-id.fl.f8.b.ttu.tracked.black-20.can-be-read ID 4768987
									button.accent.bn.bg-white.fr.f8.b.ttu.tracked download
							// NOTIF ITEM
							.notif__item.bb.black-20.pa3.fl.w-100
								.notif__icon.w1.fl
									img.db.w-100(src='img/icons/graph-gray.png', alt='Graph Icon')
								.w-90.fl.pl3
									.notif__status.b.db.ttu.tracked.main-gray.f8.lh-solid
										span.dib.bg-lightest-gray.pa1.green.bg-lighter-green.can-be-read está pronto
									h1.notif__title.f5.mt1.can-be-read.black Relatório consolidado
									p.notif__date.f6.mt0.can-be-read
										| Requerido às 
										span.notif__hour 17h20
										| , em 
										span.notif__day 17/08/16
								.fl.w-100.pl4.notif__actions.mt3
									span.notif__report-id.fl.f8.b.ttu.tracked.black-20.can-be-read ID 4768987
									button.accent.bn.bg-white.fr.f8.b.ttu.tracked download
							// NOTIF ITEM
							.notif__item.bb.black-20.pa3.fl.w-100
								.notif__icon.w1.fl
									img.db.w-100(src='img/icons/graph-gray.png', alt='Graph Icon')
								.w-90.fl.pl3
									.notif__status.b.db.ttu.tracked.main-gray.f8.lh-solid
										span.dib.bg-lightest-gray.pa1.red.bg-lighter-red.can-be-read não foi possível gerar
									h1.notif__title.f5.mt1.can-be-read.black Relatório consolidado
									p.notif__date.f6.mt0.can-be-read
										| Requerido às 
										span.notif__hour 17h20
										| , em 
										span.notif__day 17/08/16
								.fl.w-100.pl4.notif__actions.mt3
									span.notif__report-id.fl.f8.b.ttu.tracked.black-20.can-be-read ID 4768987
									a.accent.bn.bg-white.fr.f8.b.ttu.tracked(href='notifs.html')
										| ver detalhes
						// NOTIF FOOTER
						.fl.w-100.pa3
							a.ttu.fl.lh-copy.pv0.tracked.b.f8.accent.bn.bg-white.has-icon.has-icon-right.icon-arrow-right--blue(href='notifs.html')
								| ver todas as notificações
				h3.f5.b.fl.has-icon.has-icon-right.icon-dropdown NomeDoUsuário
		// MAIN CONTENT
		section.main-content.ph3.pt3.pb5.fr
			// FILTERS
			.actions-container
				.fl.w-100.bg-lighter-accent.pa3
					.fl.w-100
						h3.fl.black.f3.lh-solid.onboarding-01 Filtros
						// Calendar
						input#datepicker.fr.calendar-picker(name='e1')
					// FILTERS ROW
					.fl.w-100.mt4
						.nl3.nr3
							// FILTER ITEM
							.relative.w-third.fl.ph3
								label.black-50.f6 Tipo de relatório
								.fl.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input.caret-down
									span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Envios consolidados
								.dropdown.content-box
									label.black-50.f6 Tipo de relatório
									//- input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
									//- span.main-gray.db.f6.pl3.pv3 Buscas recentes
									ul.pb1.pl0
										li
											span Envios consolidades
										li
											span Envios detalhados
							// FILTER ITEM
							.relative.w-third.fl.ph3
								label.black-50.f6 Subconta
								.fl.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input.caret-down
									span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Envios consolidados
								.dropdown.content-box
									label.black-50.f6 Subconta
									input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
									span.main-gray.db.f6.pl3.pv3 Buscas recentes
									ul.pt0.pb1.pl3
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
							// FILTER ITEM
							.relative.w-third.fl.ph3
								label.black-50.f6 Usuários
								.fl.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input.caret-down
									span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Envios consolidados
								.dropdown.content-box
									label.black-50.f6 Usuários
									input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
									span.main-gray.db.f6.pl3.pv3 Buscas recentes
									ul.pt0.pb1.pl3
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
					// FILTERS ROW
					.fl.w-100.mt4
						.nl3.nr3
							// FILTER ITEM
							.relative.w-third.fl.ph3
								label.black-50.f6 Campanha, Lote ou Celular
								.fl.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input.caret-down
									span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Envios consolidados
								.dropdown.content-box
									label.black-50.f6 Campanha, Lote ou Celular
									input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
									span.main-gray.db.f6.pl3.pv3 Buscas recentes
									ul.pt0.pb1.pl3
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
							// FILTER ITEM
							.relative.w-third.fl.ph3
								label.black-50.f6 Operadoras
								.fl.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input.caret-down
									span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Envios consolidados
								.dropdown.content-box
									label.black-50.f6 Operadoras
									input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
									span.main-gray.db.f6.pl3.pv3 Buscas recentes
									ul.pt0.pb1.pl3
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
							// FILTER ITEM
							.relative.w-third.fl.ph3
								label.black-50.f6 Status das mensagens
								.fl.w-100.bg-white.black.relative.ba.b--black-20.ph3.pv3.mt2.input.caret-down
									span.f6.b.lh-solid.dib.overflow-hidden.lh-title.nowrap Envios consolidados
								.dropdown.content-box
									label.black-50.f6 Status das mensagens
									input.f6.b.ba.b--black-20.ph3.pv3.mt2.lh-title(type='search', autofocus='')
									span.main-gray.db.f6.pl3.pv3 Buscas recentes
									ul.pt0.pb1.pl3
										li
											span Bruno Farias
										li
											span Nayara Rodrigues
										li
											span Neto Andrade
										li
											span Hudson Souza
										li
											span Edson Koji
										li
											span Henrique Perticarati
										li
											span Juliana Gaspari
					button.dib.fr.mt4.mb3.cta.cta-accent
						span.has-icon-left.icon-check--white aplicar
			// RESULTS
			.fl.w-100.ph3.pt4
				h3.theblack.f3.fl.w-100 Resultados
				.mt4.relative.fl.w-100
					div.fl
						span.black.f6 Campanha
						h3.blue-gray.f4.mt2 Carnaval 2014, por mês
				.mt4.fl.w-100
					span.theblack.f7.ttu.b envios
				.ct-chart.ct-double-octave.fl.w-100
				// GRAPHS SUBTITLES
				.mt4.fl.w-100.relative.lh-copy
					div.fl
						span.bg-green.br-100.pa1.dib
						span.f8.blue-gray.ml1.ttu.b.tracked Mensagens enviadas
						span.bg-red.br-100.pa1.dib.ml4
						span.f8.blue-gray.ml1.ttu.b.tracked Mensagens com erro
					div.fr.has-dropdown.relative.lh-copy.onboarding-02
						span.fl.f6.theblack Visualização por
						span.fl.f6.theblack.b.ml1.pr5.bb.relative.has-icon-right.icon-dropdown.insert-criteria.view-box-close.pointer Operadora
						.view-box-open.shadow-2.pa3.absolute.top-0.left-0.bg-white.z-3.w-100.content-box.nt3.nl3.o-0
							span.f6.theblack.nowrap.fl Visualização por
							.dropdown-item-box.fl
								span.fl.cb.f6.theblack.b.ml1.bb.relative.has-icon-right.icon-dropdown.insert-criteria Operadora
								span.fl.cb.f6.theblack.b.ml1.mt3.relative.view-criteria.pointer.accent-hover Hora
								span.fl.cb.f6.theblack.b.ml1.mt3.relative.view-criteria.pointer.accent-hover Dia
								span.fl.cb.f6.theblack.b.ml1.mt3.relative.view-criteria.pointer.accent-hover Mês
								span.fl.cb.f6.theblack.b.ml1.mt3.relative.view-criteria.pointer.accent-hover Operadora
				// número de mensagens enviadas
				.mt4.fl.w-100
					.fl.mr4
						h4.blue-gray.f2.b 12.7mi
						span.theblack.f6.lh-title
							| mensagens
							br
							| enviadas
					.fl.mr4
						h4.green.f2.b 4.2mi
						span.theblack.f6.lh-title
							| enviadas com
							br
							| sucesso
					.fl
						h4.red.f2.b 1.5mi
						span.theblack.f6.lh-title
							| mensagens
							br
							| com erro
			// DETAILS
			.fl.w-100.ph3.pt4.mt5
				h3.theblack.f4 Detalhes
				.mt4.theblack.lh-copy.fl.onboarding-03
					mr2.has-dropdown.relative.dib.mr2
						span.f6.fl.pr1 Consolidados por
						.relative.pa0.ma0.dib
							span.f6.theblack.b.pr5.bb.relative.has-icon-right.icon-dropdown.insert-criteria.view-box-close.pointer.fl Operadora
							.view-box-open.shadow-2.pt0.ph2.absolute.top-0.left-1.bg-white.z-3.nt3.nl5.o-0
								.dropdown-item-box.pl4.pr3.pv3.fl
									.relative.fl.cb
										.checkbox
											input#operadora_checkbox.dropdown-checkbox(type='checkbox', name='operadora', value='Operadora', checked='')
											label.f6.b.accent-hover.pl3.nl2.fl.relative(for='operadora_checkbox') Operadora
									.relative.mt3.fl.cb
										.checkbox
											input#campanha_checkbox.dropdown-checkbox(type='checkbox', name='campanha', value='Campanha')
											label.f6.b.accent-hover.pl3.nl2.fl.relative(for='campanha_checkbox') Campanha
									.relative.mt3.fl.cb
										.checkbox
											input#cliente_checkbox.dropdown-checkbox(type='checkbox', name='cliente', value='Cliente')
											label.f6.b.accent-hover.pl3.nl2.fl.relative(for='cliente_checkbox') Cliente
									.relative.mt3.fl.cb
										.checkbox
											input#subconta_checkbox.dropdown-checkbox(type='checkbox', name='subconta', value='Subconta')
											label.f6.b.accent-hover.pl3.nl2.fl.relative(for='subconta_checkbox') Subconta
									.relative.mt3.fl.cb
										.checkbox
											input#usuario_checkbox.dropdown-checkbox(type='checkbox', name='usuario', value='Usuário')
											label.f6.b.accent-hover.pl3.nl2.fl.relative(for='usuario_checkbox') Usuário
					.has-dropdown.relative.dib
						span.f6.nowrap.fl e por
						span.fl.f6.theblack.b.ml1.pr5.bb.relative.has-icon-right.icon-dropdown.insert-criteria.view-box-close.pointer Hora
						.view-box-open.shadow-2.pa3.absolute.top-0.left-0.bg-white.z-3.w-100.content-box.nt3.nl3.o-0
							span.fl.f6.nowrap.pr1 e por
							.dropdown-item-box.fl
								span.fl.cb.f6.theblack.b.bb.relative.has-icon-right.icon-dropdown.insert-criteria Hora
								span.fl.cb.f6.theblack.b.mt3.relative.view-criteria.pointer.accent-hover Dia
								span.fl.cb.f6.theblack.b.mt3.relative.view-criteria.pointer.accent-hover Mês
				.mt4.relative.fr
					button.cta.pointer.download.download-button.onboarding-04 download
					//- .download-items.absolute.right-0.theblack.ph3.pt1.pb3.bg-white.z-3
					//- 		a.db.b.f6.mt3.theblack.accent-hover(href='javascript:') Gerar relatórios
					//- 		a.db.b.f6.mt3.theblack.accent-hover(href='javascript:') Gerar tabela
					//- 		a.db.b.f6.mt3.theblack.accent-hover(href='javascript:') Gerar gráfico
			// TABLE
			table.fl.w-100.mt4.tl.v-top.ph3(cellspacing='0')
				thead.v-top
					tr.pv3.ttu.f8.black.b.tl.tracked
						th.bb.pv2.table-mes
							span Mês
						th.bb.pv2.table-cliente
							span Cliente
						th.bb.pv2.mw3.table-campanha
							span Campanha
						th.bb.pv2.table-subconta
							span Subconta
						th.bb.pv2.table-usuario
							span Usuário
						th.bb.pv2.table-operadora
							span Operadora
						th.bb.pv2.table-sucessos
							span Sucessos
						th.bb.pv2.table-agendados
							span Agendados
						th.bb.pv2.table-enviados
							span Enviados
						th.bb.pv2.table-erros
							span Erros
						th.bb.pv2.table-inicio
							span Início do envio
				tbody.v-top
					tr.bb
						td.f6.bb.b--black-20.pv4.table-mes
							span Fevereiro
						td.f6.bb.b--black-20.pv4.table-cliente
							span Cliente
						td.f6.bb.b--black-20.pv4.mw5.table-campanha
							span Campanha do dia dos namorados 2017
						td.f6.bb.b--black-20.pv4.table-subconta
							span marketing
						td.f6.bb.b--black-20.pv4.table-usuario
							span matiazzo
						td.f6.bb.b--black-20.pv4.table-operadora
							span Brasil telecom
						td.f6.bb.b--black-20.pv4.table-sucessos
							span 90mi
						td.f6.bb.b--black-20.pv4.table-agendados
							span 100mi
						td.f6.bb.b--black-20.pv4.table-enviados
							span 300mi
						td.f6.bb.b--black-20.pv4.table-erros
							span 10mi
						td.f6.bb.b--black-20.pv4.table-inicio
							span 12/12/16, às 17:56
					tr.bb
						td.f6.bb.b--black-20.pv4.table-mes
							span Fevereiro
						td.f6.bb.b--black-20.pv4.table-cliente
							span Cliente
						td.f6.bb.b--black-20.pv4.mw5.table-campanha
							span Campanha do dia dos namorados 2017
						td.f6.bb.b--black-20.pv4.table-subconta
							span marketing
						td.f6.bb.b--black-20.pv4.table-usuario
							span matiazzo
						td.f6.bb.b--black-20.pv4.table-operadora
							span Brasil telecom
						td.f6.bb.b--black-20.pv4.table-sucessos
							span 90mi
						td.f6.bb.b--black-20.pv4.table-agendados
							span 100mi
						td.f6.bb.b--black-20.pv4.table-enviados
							span 300mi
						td.f6.bb.b--black-20.pv4.table-erros
							span 10mi
						td.f6.bb.b--black-20.pv4.table-inicio
							span 12/12/16, às 17:56
					tr.bb
						td.f6.bb.b--black-20.pv4.table-mes
							span Fevereiro
						td.f6.bb.b--black-20.pv4.table-cliente
							span Cliente
						td.f6.bb.b--black-20.pv4.mw5.table-campanha
							span Campanha do dia dos namorados 2017
						td.f6.bb.b--black-20.pv4.table-subconta
							span marketing
						td.f6.bb.b--black-20.pv4.table-usuario
							span matiazzo
						td.f6.bb.b--black-20.pv4.table-operadora
							span Brasil telecom
						td.f6.bb.b--black-20.pv4.table-sucessos
							span 90mi
						td.f6.bb.b--black-20.pv4.table-agendados
							span 100mi
						td.f6.bb.b--black-20.pv4.table-enviados
							span 300mi
						td.f6.bb.b--black-20.pv4.table-erros
							span 10mi
						td.f6.bb.b--black-20.pv4.table-inicio
							span 12/12/16, às 17:56
	// jQuery
	script(src='js/jquery-3.1.0.min.js')
	script.
		$('.dropdown-checkbox').click(function() {
		var length = $(this).parents(".dropdown-item-box").find(".dropdown-checkbox:checked").length;
		if (length == 0) {
		$(this).prop('checked', true);
		}
		var selected = $('.dropdown-checkbox:checked').map(function() {
		return this.value;
		}).get().join(', ');
		$(this).parents(".has-dropdown").find(".insert-criteria").text(selected);
		});
	// Filters
	script(src='js/forms.js')
	// Notifications
	script(src='js/notifs.js')
	// For the calendar
	script(src='calendar/jquery-ui/jquery-ui.min.js')
	script(src='calendar/moment.js')
	script(src='calendar/jquery.comiseo.daterangepicker.js')
	script(src='charts/custom-charts.js')
	script.
		$(function() {
		$("#datepicker").daterangepicker({
		presetRanges: [{
		text: 'Últimos 7 dias',
		dateStart: function() {
		return moment().add(-7, 'days')
		},
		dateEnd: function() {
		return moment().add(0, 'days')
		}
		}, {
		text: 'Últimos 30 dias',
		dateStart: function() {
		return moment().add(-30, 'days')
		},
		dateEnd: function() {
		return moment().add(0, 'days')
		}
		}, {
		text: 'Últimos 90 dias',
		dateStart: function() {
		return moment().add(-90, 'days')
		},
		dateEnd: function() {
		return moment().add(0, 'days')
		}
		}],
		applyOnMenuSelect: false,
		dateFormat: 'd M yy',
		rangeSplitter: ' – ',
		initialText: 'Escolha um período',
		applyButtonText: 'confirmar',
		clearButtonText: 'limpar',
		cancelButtonText: 'cancelar',
		verticalOffset: -50,
		datepickerOptions: {
		dayNamesMin: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
		monthNames: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
		monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
		numberOfMonths: 2,
		minDate: null,
		maxDate: 0
		}
		});
		});

	// Onboarding tooltips
	script(src='onboarding/js/tether.js')
	script(src='onboarding/js/shepherd.min.js')
	script.
		let tour = new Shepherd.Tour({
			defaults: {
			classes: 'shepherd-theme-arrows'
			}
		});

		tour.addStep('step 01', {
			title: 'Você escolhe',
			text: 'Com os filtros, você escolhe o nível de detalhamento dos seus Relatórios. Faça um teste.',
			attachTo: '.onboarding-01 right',
			advanceOn: '.onboarding-02',
			buttons: [
				{
					text: 'entendi',
			      	action: tour.next
				}
			]
		});

		tour.addStep('step 02', {
			title: 'Mude o que vê',
			text: 'Você pode mudar a visualização do gráfico por aqui.',
			attachTo: '.onboarding-02 right',
			advanceOn: '.onboarding-03',
			buttons: [
				{
					text: 'próximo',
			      	action: tour.next
				}
			]
		});

		tour.addStep('step 03', {
			title: 'Veja mais. Ou menos.',
			text: 'Aqui você preenche sua tabela com os detalhes que quer ver.',
			attachTo: '.onboarding-03 right',
			advanceOn: '.onboarding-04',
			buttons: [
				{
					text: 'entendi',
			      	action: tour.next
				}
			]
		});

		tour.addStep('step 04', {
			//- title: 'Aqui não tem segredo',
			text: 'Por fim, é possível fazer o download dessa tabela para seu computador.',
			attachTo: '.onboarding-04 left',
			//- advanceOn: '.onboarding-04',
			buttons: [
				{
					text: '👍',
			      	action: tour.cancel
				}
			]
		});

		tour.start();
